In [7]:
# number word,words
s=raw_input("enter string:")
char=0
word=1
for i in s:
    char=char+1
    if i==' ':
        word=word+1
print char
print word

enter string:pavan kalevaru
14
2

In [8]:
import random
names=["pavan,yash,prashanth,nani"]
data=random.choice(names)
f=open("text3.txt","w")
data1=f.write(data)
f.close()

In [1]:
f=open('p.txt','w')
f.write('pavan kalevaru')
f.close()

In [7]:
f=open('p.txt','r')
d=f.read()
print len(d)
print len(d.split())
print len(d.splitlines())

14
2
1

In [9]:
f=open("text3.txt")
data2=f.read()
print data2

pavan,yash,prashanth,nani

In [10]:
f=open("text3.txt")
numberchar=len(data2)
numberword=len(data2.split())
numberlines=len(data2.splitlines())
print numberchar
print numberword
print numberlines

25
1
1

In [3]:
chars=0
words=0
lines=0
f=open('text3.txt','r')
for i in f:
    lines=lines+1
    words=len(i.split())+words
    chars=len(i)+chars
print "Number of Lines,Words,Chars in the given file respectively are",lines,words,chars

Number of Lines,Words,Chars in the given file respectively are 1 1 25

In [12]:
#json to txt
import json
f=open("text3.txt")
data3=f.readlines()
print data2
print data3
d_son=json.dumps(data3)
d_son1=json.loads(d_son)
print d_son
print d_son1
f.close()

pavan,yash,prashanth,nani
['pavan,yash,prashanth,nani']
["pavan,yash,prashanth,nani"]
[u'pavan,yash,prashanth,nani']

In [13]:
import json
f=open("text3.txt",'r')
data1=f.readlines()
print 'data',data1
data_string = json.dumps(data1)
json_loads=json.loads(data_string)
print 'JSON:', data_string
print json_loads
f.close()

data ['pavan,yash,prashanth,nani']
JSON: ["pavan,yash,prashanth,nani"]
[u'pavan,yash,prashanth,nani']

In [1]:
#oops concepts
import sqlite3
class databse:
    def connection(self):
        con=sqlite3.connect("text.db")
        cur=con.cursor()
        return con.cur
    def create(self,cur):
        cur.execute("create table emp(USERID INT, NAME TEXT, PASSWD VARCHAR(50))")
        print "create table sucessfully"
    def insert(self,userid,name,passwd,cur,con):
        a=[userid,name,passwd]
        cur.execute("insert into emp(?,?,?)",a)
        print "sucesfully insert"
    def delete(self,userid,name,passwd,con,cur):
        cur.execute("delete from emp where id=?",(userid))
        con.commit()
d=database()
con,cur=connect()
d.connection(cur)

NameError: name 'database' is not defined

In [2]:
import sqlite3
import random
con=sqlite3.connect("d1.db")
cur=con.cursor()
print "create database"
cur.execute("create table pavan(id int,name varchar)")
print "create table"
name=["pavan","yash","pavani"]
for i in range(5):
    cur.execute("insert into pavan values('%s','%s')"%(id,random.choice(name)))
con.commit()
print "insert in suu"
con.close()

create database
create table
insert in suu

In [ ]:
import sqlite3
class database:
	def create_db(self):
		con=sqlite3.connect("d7.db")
		cur=con.cursor()
		cur.execute("create table database(id int ,name varchar)")
		print "create table sucessfully"
		con.close()
	def create_table(self):
		con=sqlite3.connect("d7.db")
		cur=con.cursor()
		cur.execute("insert into database values(1,'pavan')")
		cur.execute("insert into database values(1,'pavani')")
		con.commit()
		print "insert sucessfully"
		con.execute("select  id,name from database")
		for i in cur:
			print "id=",i[0]
			print "id=",i[1],"/n"

		con.close()
	def update(self):
		con=sqlite3.connect("d7.db")
		cur=con.cursor()
		cur.execute("update database set name='yash' where id=1")
		con.commit()
		con.execute("select  id,name from database")
		for i in cur:
			print "id=",i[0]
			print "id=",i[1],"/n"


		con.close()

In [ ]:
import databaseop
d=databaseop.database()
d.create_db()
d.create_table()
d.update()

In [10]:
def reverse(str):
    rs=""
    for i in str:
        rs=i+rs
    print rs
        
str="pavan"
reverse(str)

navap

In [16]:
n=int(raw_input("enter the given number is:"))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print "not prime number"
            break
    else:
        print "yes"
else:
    print "no"

enter the given number is:4
not prime number

In [4]:
for n in range(0,50):
    for i in range(2,50):
        if n%1==0:
            break;
    else:
        print n

In [2]:
l=1
u=10
for n ra

In [9]:
l=int(raw_input("enter the given number is:"))
v=int(raw_input("enter the given number is:"))
for n in range(l,v+1):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                break
        else:
            print n

enter the given number is:1
enter the given number is:3
2
3

In [12]:
n=int(raw_input("enter the given number is:"))
for i in range(1,n+1):
    if n%i==0:
        print i

enter the given number is:10
1
2
5
10

In [ ]:
m_str=raw_input("enter the main string")
s_str=raw_input("enter the main string is ")
n=input("'enter the number of occurence u want to fond:")
def fun(m_str,s_str,n):
    oc=m_str.find(s_str)
    while oc>=0 and n>1:
        oc=m_str.find(s_str,oc+1)
        n-=1
    return oc
index=fun(m_str,s_str,n)
print index

In [4]:
l=[10,20,[40,50]]
l1=[]
def single(l):
    for i in l:
        if type(i)==list:
            single(l)
        else:
            l2.append(i)
    return l2
print single(l)

RuntimeError: maximum recursion depth exceeded while calling a Python object

In [1]:
l=[10,20,30,[40,50,60],70,[80,90,20]]
l2=[]
def sing(l):
    for i in l:
        if type(i)==list:
            sing(i)
        else:
            l2.append(i)
    return l2
print sing(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 20]

In [5]:
s="pavan"
d={}
for i in s:
    d[i]=s.count(i)
print d

{'a': 2, 'p': 1, 'n': 1, 'v': 1}

In [9]:
l=['a','b','c','A','B']
s=raw_input("enter string")
count=0
for i in l:
    if i.lower()==s.lower():
        count=count+1
if count>=1:
    print count
else:
    print "lckn"

enter stringA
2

In [14]:
n=int(raw_input("number is"))
rs=0
for i in range(1,n):
    if n%i==0:
        rs=rs+i
if rs==n:
    print "number is perfect",n
else:
    print "no"

number is7
no

In [19]:
l=int(raw_input("lower number is"))
u=int(raw_input(" upper number is"))
for n in range(l,u+1):
    for i in range(1,n):
        if n%i==0:
            break
    else:

        print n

lower number is1
 upper number is10
1

In [35]:
a="pavan kalevar\n  is god boy"
print a

ch=0
w=0
for i in a:
    ch=ch+1
    if i==" ":
        w=w+1
print w
l=len( a.splitlines())
print l
print ch

pavan kalevar
  is god boy
5
2
26

In [36]:
marks = [("mohan", 80), ("satish", 90), ("purnesh", 40), ("venkat", 30)]
dict(marks)

{'mohan': 80, 'purnesh': 40, 'satish': 90, 'venkat': 30}

In [41]:
dict.values()

TypeError: descriptor 'values' of 'dict' object needs an argument

TypeError: descriptor 'keys' of 'dict' object needs an argument

In [46]:
print dict.keys()

TypeError: descriptor 'keys' of 'dict' object needs an argument

In [51]:
number=151
sum=0
tem=number 
n=len(str(number))
while tem>0:
    d=tem%10
    sum=sum+d**n
    tem//=10
if sum==number:
    print "yes"
else:
    print "no"

no

In [52]:
def fun(str1,str2):
    list1=list(str1)
    list2=list(str2)
    list2.sort()
    list1.sort()
    return (list1==list2)
print fun("pavan","navap")

True

In [53]:
s="abcba"
s=s.lower()
rs=reversed(s)
if list(s)==list(rs):
    print "yse"

yse

In [63]:
s="pavan kalevaru"
s2=' '.join(word[::-1] for word in s.split(" "))
print s2

navap uravelak

In [57]:
print ' '.join()

p a v a n   k a l e v a r u

In [66]:
s="pavan"# repated char
dict={}
for i in s:
    dict[i]=0
for i in s:
    dict[i]+=1
for i ,count in dict.items():
       if count > 1 and i!= ' ':
            print i,count

a 2

In [69]:
#non repated 
s="pavan"
dublicate=[]
fist_time=[]
unique=[]
for i in s:
    for i not  in  fist_time:
        first_time.append(i)
    else:
        dublicate.append(i)
for p in s:
    if p in first_time and p not in dublicate:
        unique.append(i)
print unique

SyntaxError: invalid syntax (<ipython-input-69-9e43992386fe>, line 7)

In [ ]:
duplicate = []
first_time = []
unique = []

a= input("pavan")

for i in a:

    if i not in first_time:

        first_time.append(i)

    else:
        duplicate.append(i)

for p in a:
    if p in first_time and p not in duplicate:

        unique.append(p)
print(unique[0])

In [ ]:
import time
time.asctime()

In [ ]:
import calendar
print calendar.month(2000,4)

In [ ]:
import calendar
print calendar.month(2000,4)

In [ ]:
import time
time.time

In [8]:
s="pavan"
s.capitalize()

'Pavan'

In [9]:
print s.count('a')

2

In [10]:
print s.endswith("an")

True

In [11]:
import time 
time.asctime()

'Tue Jun 19 23:21:53 2018'

In [12]:
import calendar

In [14]:
calendar.calendar(2019,4)

'                                                       2019\n\n             January                                 February                                 March\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n       1    2    3    4    5    6                             1    2    3                             1    2    3\n  7    8    9   10   11   12   13         4    5    6    7    8    9   10         4    5    6    7    8    9   10\n 14   15   16   17   18   19   20        11   12   13   14   15   16   17        11   12   13   14   15   16   17\n 21   22   23   24   25   26   27        18   19   20   21   22   23   24        18   19   20   21   22   23   24\n 28   29   30   31                       25   26   27   28                       25   26   27   28   29   30   31\n\n              April                                    May                                     June\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n  1    2    3    4    5    6    7                   1    2    3    4    5                                  1    2\n  8    9   10   11   12   13   14         6    7    8    9   10   11   12         3    4    5    6    7    8    9\n 15   16   17   18   19   20   21        13   14   15   16   17   18   19        10   11   12   13   14   15   16\n 22   23   24   25   26   27   28        20   21   22   23   24   25   26        17   18   19   20   21   22   23\n 29   30                                 27   28   29   30   31                  24   25   26   27   28   29   30\n\n               July                                   August                                September\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n  1    2    3    4    5    6    7                        1    2    3    4                                       1\n  8    9   10   11   12   13   14         5    6    7    8    9   10   11         2    3    4    5    6    7    8\n 15   16   17   18   19   20   21        12   13   14   15   16   17   18         9   10   11   12   13   14   15\n 22   23   24   25   26   27   28        19   20   21   22   23   24   25        16   17   18   19   20   21   22\n 29   30   31                            26   27   28   29   30   31             23   24   25   26   27   28   29\n                                                                                 30\n\n             October                                 November                                December\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n       1    2    3    4    5    6                             1    2    3                                       1\n  7    8    9   10   11   12   13         4    5    6    7    8    9   10         2    3    4    5    6    7    8\n 14   15   16   17   18   19   20        11   12   13   14   15   16   17         9   10   11   12   13   14   15\n 21   22   23   24   25   26   27        18   19   20   21   22   23   24        16   17   18   19   20   21   22\n 28   29   30   31                       25   26   27   28   29   30             23   24   25   26   27   28   29\n                                                                                 30   31\n'

In [17]:
calendar.isleap(2108)

True

In [18]:
d={"pavan":1,"yash":2}

In [19]:
print d

{'pavan': 1, 'yash': 2}

In [20]:
print d.keys()

['pavan', 'yash']

In [21]:
print d.values()

[1, 2]

In [24]:
print d[pavan]

NameError: name 'pavan' is not defined

In [25]:
d['pavan']

1

In [27]:
d.setdefault("pavank",10)

10

In [28]:
print d

{'pavan': 1, 'yash': 2, 'pavank': 10}

In [29]:
d.update({"pavank":10})

In [30]:
d

{'pavan': 1, 'pavank': 10, 'yash': 2}

In [ ]:
# find no of  characters,words,lines,
# f=open("data.txt",'r')
# data=f.read()
# print len(data)
# print len(data.split())
# print len(data.splitlines())