In [23]:
#append,#count,extend,index,insert,pop,remove,reverse,sor
l=[10,20,30]
l2=[70,80,80,90]
l.append(40)
b="pavan"
print l
l.extend(l2)
print l
l.extend(b)
print l
len(l)
l.pop()
l.pop(1)
l
l.pop(10)
l
l.remove(10)
l
l.count(10)
l.index(80)
l.insert(10,"pk")
l

[10, 20, 30, 40]
[10, 20, 30, 40, 70, 80, 80, 90]
[10, 20, 30, 40, 70, 80, 80, 90, 'p', 'a', 'v', 'a', 'n']

[30, 40, 70, 80, 80, 90, 'p', 'a', 'v', 'pk']

In [10]:
str="             pavan kalevaru"
print str.strip()
pn=['10','20']
print ",".join(pn)

pavan kalevaru
10,20

In [13]:
s="pavan kalyan kumar "
l=s.split()
i=len(l)-1
l1=[]
while i>0:
    l1.append(l[i])
    i=i-1
out="".join(l1)
print out

kumarkalyan

In [15]:
s="AB124D"
s1=s2=output=" "
for x in s:
    if x.isalpha():
        s1=s1+x
    else:
        s2=s2+x
for x in sorted(s1):
    output=output+x
for x in sorted(s2):
    output=output+x

print output

  ABD 124

In [26]:
l=[10,20,"pavan","a","z"]
l.sort()
l

[10, 20, 'a', 'pavan', 'z']

In [19]:
lm=[10,20,40]
for i in range(len(l)):
    print lm[i],i,i-len(l)

10 0 -3
20 1 -2
40 2 -1

In [33]:
new_list=["ravi","kiran","pavan"]
new_list[0]
new_list.pop(1)
new_list.insert(1,"kiran")
new_list
print new_list.remove("kiran")
new_list
new_list.extend("pavani ")
new_list

None

['ravi', 'pavan', 'p', 'a', 'v', 'a', 'n', 'i', ' ']

In [34]:
pk=[0,20,60,40]
pk.sort(reverse=True)
pk

[60, 40, 20, 0]

In [37]:
new_dict={1:"pavan",3:"pk"}
new_dict.setdefault(1:"pavan")

SyntaxError: invalid syntax (<ipython-input-37-177c93a5fad0>, line 2)

In [3]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

l1=[10,20,4,3,50]
3,4,10,20,50
for  j in range((len(l1))-1):
    for i in range((len(l1))-1):
        if list(i)>l1[i+1]:
            l1[i],l1[i+1]=l1[i+1],l1[i]
        else:
            print l1

In [47]:
l1=[10,20,4,3,50]
#3,4,10,20,50
for  j in range((len(l1))-1):
    for i in range((len(l1))-1):
        if l1[i]>l1[i+1]:
            l1[i],l1[i+1]=l1[i+1],l1[i]
print l1

[3, 4, 10, 20, 50]

In [56]:
L=[10,[20,4],3,[50]]
L1=[]
def singlelist(L):
    for i in L:
        if type(i)==list:
            singlelist(i)
        else:
            L1.append(i)
    return L1

singlelist(L)

[10, 20, 4, 3, 50]

In [62]:
l=['a','A','B','B','B','b']
s=raw_input("gewre:")
c=0
for i in l:
    if i.lower()==s.lower():
        c=c+1
if c>=1:
    print c

gewre:B
4

In [2]:
l[:]

[10, 20, 30]

In [67]:
A=123
b=str(A)
print b
k=0
for i in range(b):
    k= k+i
print k

123

TypeError: range() integer end argument expected, got str.

In [69]:
d1=[10,10,40,50]
d2=[]
for i in d1:
    if i not in d2:
        d2.append(i)
print d2

[10, 40, 50]

In [79]:
a={}
a[1]=5
print a
a["1"]=3
a[1]=a[1]+1
print a
c=0
for i in a:
    c+=a[i]
print c
print len(a)

{1: 5}
{'1': 3, 1: 6}
9
2

In [70]:
x=125
for i in str(123):
    print i

1
2
3

In [80]:
l=[40,50,60,80]
sum(l)

230

In [83]:
s=0
for i in l:
    s= s+i
s

230

In [3]:
l[-1]

30

In [90]:
l=[40,50,80]

In [4]:
l[1]

20

In [93]:
def max_len(l):
    max=l[0]
    for i in l:
        if i<max:
            max=i
    return max
max_len(l)

40

In [14]:
l2=l
print l
print l2
print "$$$"
l[1]=50
print l2
print l
print id(l)
print id(l2)

[10, 50, 30]
[10, 50, 30]
$$$
[10, 50, 30]
[10, 50, 30]
104292040
104292040

In [94]:
def mul2(var):
    print var*2
myvar=5
while myvar>0:
    mul2(myvar)
    myvar=myvar-1

10
8
6
4
2

In [13]:
a=[10,20]
b=a[:]
print a
print b
print "**"
a[0]=50
print a
print b

[10, 20]
[10, 20]
**
[50, 20]
[10, 20]

In [99]:
class sales:
    def __init__(self,id):
        self.id=id
        print self.id
        id=100
        self.id=id-25
        print self.id
v=sales(123)
print v.id
print v.id

123
75
75
75

In [2]:
l=[10,2,30]
#l1=l.append("pavan")# every time conot create new objectaboject
l.extend("pavan")
print l
print l1
print "WWWW"
print

[10, 2, 30, 'p', 'a', 'v', 'a', 'n']

NameError: name 'l1' is not defined

In [100]:
s="wellcome to final exam"
print s.split('e')

['w', 'llcom', ' to final ', 'xam']

In [26]:
a=["hello"]
b=a.append("pavan")
print a
print b

['hello', 'pavan']
None

In [29]:
d=a.append(10)
print a

['hello', 'pavan', 200, 200, 10]

In [30]:
p=['a','b','c']
z=p.extend("pavan")
print p

['a', 'b', 'c', 'p', 'a', 'v', 'a', 'n']

In [6]:
l=[10,20]
print l.extend(200) # exten cont spt iterobject

TypeError: 'int' object is not iterable

In [32]:
##append,#count,extend,index,insert,pop,remove,reverse,sor
print p.count("a")

3

In [35]:
print p.insert(1,"k")
print p

None
['a', 'k', 'k', 'b', 'c', 'p', 'a', 'v', 'a', 'n']

In [36]:
p.pop()#remove lost element

'n'

In [38]:
p.pop(1)

'k'

In [39]:
p.index("k")

1

In [40]:
p.remove("k")

In [41]:
print p

['a', 'b', 'c', 'p', 'a', 'v', 'a']

In [42]:
p.reverse()
print p

['a', 'v', 'a', 'p', 'c', 'b', 'a']

In [43]:
p.sort()

In [44]:
p

['a', 'a', 'a', 'b', 'c', 'p', 'v']

In [45]:
t=(10,20)
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [48]:
d={"pavan":1}
print type(d)

<type 'dict'>

In [47]:
dir(d)

['__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'has_key',
 'items',
 'iteritems',
 'iterkeys',
 'itervalues',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values',
 'viewitems',
 'viewkeys',
 'viewvalues']

In [57]:
#'clear','copy','fromkeys','get', 'has_key', 'items','iteritems''iterkeys''itervalues' 'keys''pop' 'popitem''setdefault'
#'update' 'values' 'viewitems''viewkeys' 'viewvalues'
d={1:"pavan",2:"kalevaru"}
#print d[0]
print  d[1]# call only key
print d.keys(
)
print d.values()

pavan
[1, 2]
['pavan', 'kalevaru']

In [115]:
dct={1:"pavan",3:"pava"}
print dct[1]
print dct.get(1)
print dct.get(4)
print dct.setdefault("1","pavan")
dct
print dct.setdefault(1,"pavan")

pavan
pavan
None
pavan
pavan

In [60]:
print d[1]
print d.get(1)

pavan
pavan

In [61]:
print d.get(3
           )

None

In [62]:
print d[3]

KeyError: 3

In [63]:
print d

{1: 'pavan', 2: 'kalevaru'}

In [66]:
d.setdefault(3,"kalyan")

'kalyan'

In [8]:
d={1: 'pavan', 2: 'kalevaru'}
print d.setdefault("addres","upk")
print d.setdefault("addres")

upk
upk

In [71]:
 d.update({5:"khm"})
print d

None
{1: 'pavan', 2: 'kalevaru', 3: 'kalyan', 5: 'khm', 'addres': 'upk'}

In [76]:
print d.has_key(1)
print d.has_key(6)

True
False

In [78]:
d.clear()
print d

{}

In [85]:
keys=["name1","name3"]
d={}
print d.fromkeys(keys,"pavan")
print d

{'name3': 'pavan', 'name1': 'pavan'}
{}

In [86]:
d={1:"pavan",2:"kalyan",3:"upk"}
print d

{1: 'pavan', 2: 'kalyan', 3: 'upk'}

In [87]:
l=[10,20]
l.pop()

20

In [88]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [89]:
d.pop(1)

'pavan'

In [93]:
#items,#iteritems,viewitems
d={1:"pavan",2:"kalevaru",3:"good"}
print d.items()# return list of tuple
print d.iteritems() #funtion dictionary item
print d.viewitems() #return  dict_items tuple of list tuple

[(1, 'pavan'), (2, 'kalevaru'), (3, 'good')]
<dictionary-itemiterator object at 0x0000000006546638>
dict_items([(1, 'pavan'), (2, 'kalevaru'), (3, 'good')])

In [96]:
d1=d.items()
d2=d.iteritems()
d3=d.viewitems()
for j in d1:
    print j
print "@@@@@@"
for j in d2:
    print j
print "@@@@@@"
for j in d3:
    print j
print "@@@@@@"

(1, 'pavan')
(2, 'kalevaru')
(3, 'good')
@@@@@@
(1, 'pavan')
(2, 'kalevaru')
(3, 'good')
@@@@@@
(1, 'pavan')
(2, 'kalevaru')
(3, 'good')
@@@@@@

In [10]:
person={"name":"anil kumar","age":23,"adhar":"asfdgdhfg"}
print person.items()
#updatestion not passible

address={"street":"maithrivana","state":"TS","city":"hyd"}
person.update(address)
print "after updationi"
print person.items()

#no changes

[('age', 23), ('name', 'anil kumar'), ('adhar', 'asfdgdhfg')]
after updationi
[('city', 'hyd'), ('state', 'TS'), ('street', 'maithrivana'), ('name', 'anil kumar'), ('age', 23), ('adhar', 'asfdgdhfg')]

In [11]:
person={"name":"anil kumar","age":23,"adhar":"asfdgdhfg"}

print person.iteritems()
address={"street":"maithrivana","state":"TS","city":"hyd"}
person.update(address)
print "after updationi"
print person.iteritems()
#no changes

<dictionary-itemiterator object at 0x0000000006B9FE08>
after updationi
<dictionary-itemiterator object at 0x0000000006B9FE08>

In [13]:
person={"name":"anil kumar","age":23,"adhar":"asfdgdhfg"}
print person.viewitems()

address={"street":"maithrivana","state":"TS","city":"hyd"}
person.update(address)
print "after updationi"
print person.viewitems()

#changes

dict_items([('age', 23), ('name', 'anil kumar'), ('adhar', 'asfdgdhfg')])
after updationi
dict_items([('city', 'hyd'), ('state', 'TS'), ('street', 'maithrivana'), ('name', 'anil kumar'), ('age', 23), ('adhar', 'asfdgdhfg')])

In [107]:
person={"name":"anil kumar","age":23,"adhar":"asfdgdhfg"}

vi=person.viewitems()
print vi

address={"street":"maithrivana","state":"TS","city":"hyd"}
person.update(address)
print "after updationi"
print vi

dict_items([('age', 23), ('name', 'anil kumar'), ('adhar', 'asfdgdhfg')])
after updationi
dict_items([('city', 'hyd'), ('state', 'TS'), ('street', 'maithrivana'), ('name', 'anil kumar'), ('age', 23), ('adhar', 'asfdgdhfg')])

In [110]:
set=()
dir(set)
print type(set)

<type 'tuple'>

In [1]:
set={}
type(set)

dict

In [2]:
set={1,2}
type(set)

set

In [3]:
dir(set)

['__and__',
 '__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [5]:
set.add(5)

In [6]:
set

{1, 2, 5}

In [7]:
set.remove(1)

In [8]:
set

{2, 5}

In [10]:
l={10,10,20}
set1={10,10,20}

In [11]:
set1

{10, 20}

In [12]:
set1={1,2}
set2={2,4}
set1|set2# union remove dublicate elemenet

{1, 2, 4}

In [13]:
#intersection
set1&set2# pbrint dublicaate element

{2}

In [15]:
print set1-set2
print set2-set1
#set1={1,2**}-set2={2**,4}
# set1 remaing value
#set2

set([1])
set([4])

In [16]:
#symentric deffrenc
set1^set2# print union numbers

{1, 4}

In [20]:
set1.update(6)

TypeError: 'int' object is not iterable

In [24]:
set1.update([6])

In [25]:
print set1

set([1, 2, 6])

In [4]:
# raw_input
#input
a=raw_input("enter vales")
print a
print type(a)

enter vales10
10
<type 'str'>

In [5]:
a=raw_input("enter vales")
print a
print type(a)

enter valespavan
pavan
<type 'str'>

In [6]:
a=raw_input("enter vales")
print a
print type(a)

enter vales10.20
10.20
<type 'str'>

In [7]:
a=raw_input("enter vales")
print a
print type(a)

enter vales10+2j
10+2j
<type 'str'>

In [8]:
a=input("enter vales")
print a
print type(a)

enter vales10
10
<type 'int'>

In [11]:
a=input("enter vales")
print a
print type(a)

enter vales10.20
10.2
<type 'float'>

In [ ]:
a=input("enter vales")
print a
print type(a)

In [ ]:
a=10+j2

In [116]:
#2.6
dict

dict

In [117]:
dct

{1: 'pavan', 3: 'pava', '1': 'pavan'}

In [119]:
dct.pop(1)

'pavan'

In [120]:
dct

{3: 'pava', '1': 'pavan'}

In [122]:
dct.popitem()

('1', 'pavan')

In [126]:
l=[10,50,60]
[i for i in l if i%4==0]

[60]

In [130]:
{i:i*i  for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [147]:
y=20
def fun():

    global y
    y=10
    
    print y
fun()
print y

10
10

In [137]:
y=10 #gloabal
def fun7():
    z=100#local varia
    print y
    print z
    def fun8():
        print y#not consider this varibel is global
    fun8()
fun7()
print y

10
100
10
10

In [139]:
def fun1(*a):
    print sum(a)
fun1(10,20)

30

In [144]:
def fun2(**a):
    print a
fun2(a=10)

{'a': 10}

In [164]:
def fun(n):
    
    for i in range(n):
        if i%2==0:
            yield i

f=fun(10)
# for k in f:
#     print k
print f.next()
print f.next()
print f.next()
print f.next()
print f.next()

0
2
4
6
8

StopIteration:

In [3]:
l=[]
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [162]:
l=[1,3,6,10]
[ i**2 for i in l]

[1, 9, 36, 100]

In [163]:
(i**2 for i in l)

In [39]:
g_list=[0,1]
for i in range(16):
    g_list.append(g_list[i-0]+g_list[i-1])
g_list

[0, 1, 1, 1, 2, 2, 3, 4, 5, 7, 9, 12, 16, 21, 28, 37, 49, 65]

In [46]:
def fun():
    g_list=[0,1]
    for i in range(16):
        g_list.append(g_list[i-0]+g_list[i-1])
        yield g_list
f=fun()
f.next()

[0, 1, 1]

In [1]:
a=10

# combination of number and alphatates
a10="pavan"
print(a10)

pavan

In [2]:
@a="pavan"

SyntaxError: invalid syntax (<ipython-input-2-60807e4f87a9>, line 1)