In [ ]:
# string,list,dictonary,set,tuples====data structure

#mutable :once created object can be modified # like,LIST,DICTONARY,SET
#imutable:once created object can not  be modified  #STRING,TUPLES

#data structure == mutable,imutable
#

In [9]:
d={1:"pavan",2:"pk"}
d.update({3:"pkm"})
pm=[10,20]
pm.extend(d)
pm

[10, 20, 1, 2, 3]

In [ ]:
#list used to store various types of data
#append,#count,extend,index,insert,pop,remove,reverse,sor
# tuples

In [10]:

d

{1: 'pavan', 2: 'pk', 3: 'pkm'}

In [ ]:
#dictonary
#The pair i.e., key and value is known as item. The key passed in the item must be unique.


#print d[1] # get the data
#print d.get(1)
#d.setdefault(3,"kalyan")
# d.update({5:"khm"})
#print d.has_key(1)
#keys=["name1","name3"]
#d={}
#print d.fromkeys(keys,"pavan")
#print d
##items,#iteritems,viewitems

In [ ]:
## input 
## raw_input

In [ ]:
#set.add(5)#set.remove(1)
# set1={1,2}
# set2={2,4}
# set1|set2# union remove dublicate elemenet
#intersection
#set1&set2# pbrint dublicaate element
#print set1-set2
#print set2-set1
#set1={1,2**}-set2={2**,4}
# set1 remaing value
#set2
#set1.update([6])

In [ ]:
# list
# we can stored the group datatype that is called list
l=[]
print type(l)

In [ ]:
l=[10,"pavan",10.0]

In [ ]:
print l

In [ ]:
# operation
dir(l)

In [ ]:
#append,#count,extend,index,insert,pop,remove,reverse,sort
l=[10,20,30,40]
l.append(100) # this funtioon help the add the end of list

In [ ]:
l

In [ ]:
l.append("pavan")

In [ ]:
l.append(50)

In [ ]:
l

In [ ]:
l.extend("vasavi") #this funtioon help the add the end of list for each char
l

In [ ]:
l.extend(200)
# extend support only sequence
# string
#list
# tupels
# extend unsupport int

In [ ]:
l.extend([50,20,80])
l

In [ ]:
l.index(50)

In [ ]:
l.index('pavan')

In [ ]:
len(l)

In [ ]:
l[8]="vasavi"

In [ ]:
l

In [ ]:
l[0]="msd"

In [ ]:
l

In [ ]:
s="pavan"
s.replace('p','a')

In [ ]:
s[0]="a"

In [ ]:
l

In [ ]:
l.pop()# delete the elment in list bydefualt last

In [ ]:
l

In [ ]:
l.pop(0)# o is index

In [ ]:
l

In [ ]:
l=['a','t','f','x','b']
# abftx
l.sort()

In [ ]:
l

In [ ]:
l=['a','t','f','x','b',50,60,80]# ascil
l.sort()

In [ ]:
l

In [ ]:
print ord('a')

In [ ]:
l=[10,20,30,40,70,60]

l[0]

In [ ]:
l[3:]

In [ ]:
l[-1]

In [ ]:
dir(l)

In [ ]:
l.reverse()

In [ ]:
l

In [ ]:
#max,min,avg,sum
l=[10,20,30]
max(l)

In [ ]:
min(l)

In [ ]:
#+,*
l=[10,20]
l1=[30,40]
l2=l+l1

In [ ]:
l2

In [ ]:
l*2

In [ ]:
l*3

In [ ]:
l=[10,2]
print type(l)
l1=40
print type(l1)

l2=l1+l
#TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
# we can stored the defrent data type
pavan=()
a=[]
s=""
print type(pavan)
print type(a)
print type(s)

In [ ]:
t=(10,20,"pavan")

In [ ]:
t

In [ ]:
dir(t)

In [ ]:
t=(10,20,30)
t[0]="pavan"#

In [ ]:
l=[10,20,30]
l[0]="pavan"
l

In [ ]:
l=(10,20,30)

In [ ]:
print type(l)
# l,t s work based on index

In [ ]:
#dictonary
# we can stroe the key and vales pair
# {}
s={}
print type(s)

In [ ]:
d={446:"pavan",458:"vasavi"}
print d

In [ ]:
d[0]

In [ ]:
l=[10,20,30]
d={446:"pavan",458:"vasavi"}
d[446]

In [ ]:
d[458]# key. 
#vasavi

In [ ]:
d['vasavi']

In [ ]:
d={"pavan":446,458:"vasavi"}

In [ ]:
d["pavan"]

In [ ]:
d[458]

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d["pavan"]="magic"

In [ ]:
d

In [ ]:
d={1:"p"}
d[1]="a"
# l  keynot  change 
# only value change

In [ ]:
d

In [ ]:
d={446:"pavan",458:"vasavi",446:"abc"}

In [ ]:
d[446] 
# key must be single

In [ ]:
dir(d)

In [ ]:
# how to create dicow
# how to get the element in dict
# how to update d.update({})
# how to copy data1=data.copy()  

# how to find length
# how to cler
#'clear','copy','fromkeys','get', 'has_key', 'items','iteritems''iterkeys''itervalues' 'keys''pop' 'popitem''setdefault'
#'update' 'values' 'viewitems''viewkeys' 'viewvalues'

#set:
#input from user

In [ ]:
d={}
print type(d)

In [12]:
# store the key ,values pair
d={"id":446,"name":"pavan","sal":200000}
print d

{'sal': 200000, 'id': 446, 'name': 'pavan'}

In [ ]:
dir(d)

In [20]:
d.values()

[200000, 446, 'pavan']

In [16]:
for i in sorted(d.keys()):
    print i

id
name
sal

In [24]:
for i in sorted(d.keys()):
    print i,d[i]

id 446
name pavan
sal 200000

In [ ]:
# how to get the data from dict
print d["id"]
print d["name"]
print d["sal"]
print d["role"]

In [ ]:
print d.get('id')
print d.get('name')
print d.get('sal')
print d.get('role')

In [ ]:
d['role']="en"

In [ ]:
d

In [ ]:
d['add']="hyd"

In [ ]:
d

In [ ]:
d['company']="tvsr"

In [ ]:
d['b']='k'

In [ ]:
d

In [ ]:
#'clear','copy','fromkeys','', ' 'items','iteritems''iterkeys''itervalues' '''' 'popitem''setdefault'
#'' '' 'viewitems''viewkeys' 'viewvalues'

In [ ]:
print d.keys()
print d.values()

In [ ]:
d

In [ ]:
print d.update({20000})

In [ ]:
d.update({'sal':12000})
print d

In [ ]:
d.update({'adders':"kkkcvv"})

In [ ]:
print d

In [ ]:
d.update({'add':"kphp"})

In [ ]:
print d

In [ ]:
d.pop()

In [ ]:
d.pop('adders')

In [ ]:
d

In [ ]:
print d
print "affter applyong pop oparation"
d.pop('company')
print d

In [ ]:
d.has_key('id') # if check the key in dic 
# if key is theire retun Tru

In [ ]:
d.has_key('company')

In [ ]:
d.items()
# [] list
#( )tupel
[()]

In [ ]:
d.iteritems()
# dict object

In [ ]:
d.itervalues()

In [ ]:
d

In [ ]:
d1=d.copy()
print d1

In [ ]:
d1.clear()

In [ ]:
d1

In [ ]:
d={"pavan","pavan1"}
d.setdefault("hyd")

In [ ]:
keys=["a","b"]
d={}
print d.fromkeys(keys,"pavan")

In [ ]:
l=[10,20,10,30]
#10,20,30
set(l)

In [ ]:
s1={10,20,30}
s2={40,50,60,80,10}

s1|s2# union remove dublicate elemenet

In [ ]:
s1&s2# pbrint dublicaate element

In [ ]:
s1-s2

In [ ]:
s2-s1

In [ ]:
a=10
print a

In [ ]:
# data take from user
# raw_input
# input
a=raw_input("enter values:")
print a

In [ ]:
a=raw_input("enter values:")

In [ ]:
b=raw_input("enter values:")

In [ ]:
a=10+2j

In [ ]:
# function

In [ ]:
# how to define finction
# how to call function
# how to passparameter#like calby vLUES and reference
#defualtargument
#*a,**k

In [ ]:
l=[]
print type(l)

In [ ]:
dir(l)

In [ ]:
# def <fuctionname>(): define 

#fuctionname()
print "wellcome to functions:"
def fun():
    print "hai funtion "

In [ ]:
print "wellcome to functions:"
def fun(): #define function
    print "hai pavan "
    print "hai msgic "
    print "hai bye "

fun()# call function

In [ ]:
print "wellcome to functions:"
def fun2(): #define function
    print "hai pavan "
    print "hai msgic "
    print "hai bye "

fun2()# call function

In [ ]:
#parameter
print "wellcome to functions:"
def fun(a,b): #define function
    print "hai pavan "
    print "hai msgic "
    print "hai bye "
    print a
    print b

fun(10,20)# call function

In [ ]:
def fun(a,b): #define function
    print a#10
    print b#20
    print a+b#30,#140
    

fun(10,20)# call function
fun(60,80)# call functionfun

In [ ]:
def fun(a,b): #define function
    print a#10
    print b#20
    

fun(10,20,30)# call function

In [ ]:
def fun(a,b,c): #define function
    print a#10
    print b#20
    print c#30
    

fun(10,20,30)# call function

In [ ]:
#default argument

In [ ]:
def fun(a,b,c=0): #define function argument
    print a#10
    print b#20
    print c#0
    

fun(10,20)# call function

In [ ]:
def fun(a,b,c="pavan"): #define function argument
    print a#10
    print b#20
    print c#0
    

fun(10,20)# call function

In [ ]:
def fun(a,b,c=10): #define function argument
    print a#10
    print b#20
    print c#0
    

fun(10,20,80)# call function

In [ ]:
#number of values=number arugument pass
#*args,**kargs


def fun(*a): #define function argument
    print a
    print sum(a)
    

fun(10,20,80)# call function

In [ ]:
def fun(*a): #define function argument
    print a
    print sum(a)
    

fun(10,20,80,60)# call function

In [ ]:
#
def fun(**k): #define function argument
    print k
    
    

fun(id="pavan",sal=220)# acall function

In [ ]:
def fun(**pavan): #define function argument
    print pavan
    
    

fun(id="pavan",sal=220)# acall function

In [ ]:
for i in range(50):50
    print i

In [ ]:
s="pavan"
for i in s:# i=p,a,v,a,n
    print i

In [ ]:
#if elif,else
# a=18 
a=10
b=10
if a==b:
    print "pavan kalyan"
    
    print a
else:
    print b

In [ ]:
print "123"

In [ ]:
print +=

In [ ]:
print 15

In [ ]:
print a

In [ ]:
print kp

In [ ]:
for i in range(0,21):
    if i%2==0:
        print i

In [ ]:
def fun1():
    print "hii pavan"
fun1()

In [ ]:
def pavan():
    print"hii"
    print "hill"
pavan()

In [ ]:
# code reusebulity
def sumofnumnber(a,b):
    print a
    print b
sumofnumnber(20,50)

In [ ]:
def sumofnumnber(a,b):
    print a
    print b
    print a+b
    print "kkk"
    
sumofnumnber(20,50)
sumofnumnber(120,50)
sumofnumnber(200,50)

In [ ]:
def sumofnumnber(a,b,c):
    print a
    print b
    
sumofnumnber(20,50)

In [ ]:
# varibles == values
def sumofnumnber(a,b,c):
    print a
    print b
    print c
    
sumofnumnber(20,50,50)

In [ ]:
# defulat values
def sumofnumnber(a,b,c=0,d=10):
    print a
    print b
    print c
    print d
    
sumofnumnber(20,50,80)

In [ ]:
#*a
#**k

def sumofnumnber(*pavan):
    print pavan
    print sum(pavan)

    
sumofnumnber(20,50,80)

In [ ]:
#global variabel,
#local

In [ ]:
def sumofnumnber(a,b):
    print a
    print b
    d=20# local 
    print d

    
sumofnumnber(20,50)

#print d

In [ ]:
d=30
def sumofnumnber(a,b):
    print a
    print b
    print d

    
sumofnumnber(20,50)

In [ ]:
# return 
def sumofnumnber(a,b):
    print a
    print b
    c=a+b
    return c

    
print sumofnumnber(20,50)

In [ ]:
#
#to define a gunction useing def key 
# to inistalize argument
# to call the function

In [ ]:
# to print the given number is evn or oddec
def check(a):
    if a%2==0:
        print "even"
    else:
        print "oddd"

check(15)

In [ ]:
e=30# odd value
def sumofnumnber(a,b):
    print a
    print b
    
    e=80
    print e

    
sumofnumnber(20,50)
print "out side the loop"
print e

In [ ]:
30# odd value
def sumofnumnber(a,b):
    print a
    print b
    global e
    e=80
    print e

    
sumofnumnber(20,50)
print "out side the loop"
print e

In [ ]:
# file 
#csv
#txt
#jonan

In [ ]:
f=open("data5.txt","w")# cretea a file

In [ ]:
f.write("pavan k")

In [ ]:
f.close()

In [ ]:
f=open("data5.txt","r")# cretea a file
data=f.read()

In [ ]:
data

In [ ]:
a=" "

dir(a)

In [ ]:
dir(a)

In [ ]:
l=[]
dir(l)

In [ ]:
l=[10,20,30]
print type(l)

In [ ]:
l.append(40)

In [ ]:
print l

In [1]:
l=["vasavi","kalyani"]#
k=l.append("anusha")

In [ ]:
l

In [ ]:
print  k

In [ ]:
l.pop()

In [ ]:
l

In [ ]:
l=[10,20,30]
k=l.extend('vasavi')

In [ ]:
k

In [ ]:
print l

In [ ]:
l.append(1020)

In [ ]:
l

In [ ]:
 l.insert(10,'k')

In [ ]:
l

In [ ]:
# file concept

In [ ]:
def fun():
    a=10
    print a*a
fun()

In [ ]:
def fun(a):
    print a*a
fun(10)

In [ ]:
f=open("vasavai.txt")

In [ ]:
f

In [ ]:
f=open("vasavai.txt","w")
f.write("pavan kalevaru")

In [ ]:
f.close()

In [ ]:
f=open("vasavai.txt","r")

In [ ]:
data=f.read()

In [ ]:
print data

In [ ]:
f=open("vasavai.txt","w")
f.write("kp")

In [ ]:
f.close()

In [ ]:
f=open("vasavai.txt","r")

In [ ]:
data=f.read()

In [ ]:
data

In [ ]:
f=open("vasavai.txt","w")
f.write("pavan")

In [ ]:
f.flush()

In [ ]:
f.write("kalyan")

In [ ]:
f.close()

In [ ]:
f=open("vasavai.txt","r")

In [ ]:
data=f.read()

In [ ]:
print data

In [ ]:
a=10
print "a =%s"%a

In [ ]:
# "pavan"
#char=5
# words=1
a=0
s=raw_input("enter given string:") # vasavi
for i in s: # vasavi
    #s[0]=v
    #s[1]=a
    #s[2]=s
    #3=a
    #4=v
    #5=i
    a=a+1 
    print a
    #1,
print "out side count"
print a

In [ ]:
s=raw_input("enter given string:") # vasavi
s1=""
for i in s: #vasavi
    #v a
    s1=i+s1 #a+v
    #print s1 #v
    print s1
print "out side loop"
print s1

In [2]:
s=raw_input("enter given string:") # vasavi
s[-1]

enter given string:pavan

'n'

In [3]:
s="pavan"
s[1]

'a'

In [4]:
s[0:3]

'pav'

In [5]:
s[:]

'pavan'

In [6]:
s[-1]

'n'

In [8]:
s[-1:]

'n'

In [11]:
s[1:-1]

'ava'

In [ ]:
#pavan
#navap

In [12]:
s="pavan"
s[::-1]

'navap'

In [13]:
l=[10,20,30]
#print 100,200,300
print l*10

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [14]:
100,400,900
l=[10,20,30]
for i in l:
    print i*i

100
400
900

In [15]:
l=[10,20,30]
for i in l:
    print i*10

100
200
300

In [ ]:
# if else for
# 100 
# prime number 
#2,3,5,7,9

In [16]:
n=10
for i in range(10):
    if n%i==0:
        print "prime"
else:
    print "not prime"

ZeroDivisionError: integer division or modulo by zero

In [17]:
num=int(raw_input("enter  number:")) #10
if num>1: #10>1
    for i in range(2,num):(2,10)
        if num%i==0:
            print "not prime number"
            break
    else:
        print " prime number"
else:
    print "not prime"

enter  number:10
not prime number

In [21]:
l=[100,20,200]
for i in l: #100,20,2000
    if i==20:
        break;
    else:
        print i

100

In [24]:
for i in range(25):
    0,1,2
    if i==2:  
        print "Element found"  
        break  
    print i,

0 1 Element found

In [25]:
for i in "vasavi":
    print i

v
a
s
a
v
i

In [32]:
for i in "vasavi":
    if i=="s":
        print "hellos"
        continue
    print  i

v
a
hellos
a
v
i

In [38]:
l=[10,20,30,40,50]
for i in l:#10,20,30
    print i
    print "mul"
    print i*10
print i

10
mul
100
20
mul
200
30
mul
300
40
mul
400
50
mul
500
50

In [36]:
for i in l:
    print i
print "out side loop"
print i

10
20
30
40
50
out side loop
50

In [ ]:
# cal me 
#8884721310

In [ ]:
# string,list,dict,tupel,fun

In [ ]:
#  oops

# class ,Object,Iniheitance,

In [1]:
import keywords
print keywords.kwlist

ImportError: No module named keywords

In [2]:
import keyword 
print(keyword.kwlist)

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
if else elif

20
40
60

In [2]:
#user 
a=10

In [5]:
a=raw_input("enter  number")
print a
print type(a)

enter  number10.0
10.0
<type 'str'>

In [9]:
a=input("enter  number")
print a
print type(a)

enter  number"pava"
pava
<type 'str'>

In [13]:
a=int(raw_input("enter  number"))
print type(a)
if  a==1:
    print "go to 1st"
elif a==3:
    print "hello"
else:
    print "god bey"

enter  number3
<type 'int'>
hello

In [14]:
# class object constractor

In [15]:
import keyword 
print(keyword.kwlist)

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
class <name>:
    === # varibles
    ===# def
    ===

In [19]:
class School:
    print "wellcome to school"
    a=10
    print a

wellcome to school
10

In [20]:
class School:
    print "wellcome to school"
    a=10
    print "inside class "
    print a
print "out side the class"

wellcome to school
inside class
10
out side the class

In [24]:
class School:
    print "wellcome to school"
    xyz=10
    print xyz
print "out side the class"
print School.xyz

wellcome to school
10
out side the class
10

In [27]:
class School:
    print "wellcome to school"
    name="pavan"
    age= 24
print "out side the class"
print School.name
print School.age

wellcome to school
out side the class
pavan
24

In [33]:
class School:
    print "wellcome to school"
    name="pavan"
    age= 24
    def fun():
        print "hellfun"
print "out side the class"
s=School()
s.age
s.name

wellcome to school
out side the class

'pavan'

In [36]:
class School:
    print "wellcome to school"
    name="pavan"
    age= 24
    def fun(self):
        print "hellfun"
        
print "out side the class"
s=School()
s.age
s.name
s.fun()

wellcome to school
out side the class
hellfun

In [39]:
class School:
    def Student(self,name,age):
        print name
        print age
        
s=School()
s.Student("pavan",240)

pavan
240

In [40]:
class School:
    def __ini__(self,name,age,sal):
        self.name=name
        self.age=age
        self.sal=sal
s=School("pavan",24,0000)

TypeError: this constructor takes no arguments

In [46]:
class Student:
    print "this is class"
    def __init__(self):# did not class this mwthod
        print "hello init fun"
s=Student()

this is class
hello init fun

In [49]:
class Student:
    print "this is class"
    def __init__(self,a,b):# did not class this mwthod
        print "hello init fun"
        self.a=a
        print a
        self.b=b
        print b
        
s=Student(10,20)

this is class
hello init fun
10
20

In [51]:
class Student:
    print "this is class"
    def __init__(self,a,b):# did not class this mwthod
        print "hello init fun"
        self.a=a
        self.b=b
    def fun(self):
        return self.a,self.b
s=Student(10,20)
print s.fun()

this is class
hello init fun
(10, 20)

In [2]:
pk=[]
pk.extend({1:"pak"})
print pk

[1]

In [3]:
pk.extend([10,20])

In [4]:
pk

[1, 10, 20]

In [5]:
pk.extend({"pavan":12})

In [6]:
pk

[1, 10, 20, 'pavan']

In [7]:
pk.extend("str")

In [8]:
pk

[1, 10, 20, 'pavan', 's', 't', 'r']

In [9]:
pk.extend({10,20})

In [10]:
pk

[1, 10, 20, 'pavan', 's', 't', 'r', 10, 20]

In [11]:
pk.append(10)

In [12]:
pk

[1, 10, 20, 'pavan', 's', 't', 'r', 10, 20, 10]

In [13]:
pk.append([20,30])

In [14]:
pk

[1, 10, 20, 'pavan', 's', 't', 'r', 10, 20, 10, [20, 30]]

In [15]:
pk.append({4:"p"})

In [16]:
pk

[1, 10, 20, 'pavan', 's', 't', 'r', 10, 20, 10, [20, 30], {4: 'p'}]

In [19]:
pk.remove(1)

In [20]:
pk

[10, 20, 'pavan', 's', 't', 'r', 10, 20, 10, [20, 30], {4: 'p'}]

In [22]:
pk.remove({4:'p'})

In [23]:
pk

[10, 20, 'pavan', 's', 't', 'r', 10, 20, 10, [20, 30]]

In [24]:
l.reverse()

In [25]:
l

['anusha', 'kalyani', 'vasavi']

In [33]:
pk=[0,20,40,60,5]

In [34]:
pk.reverse()

In [35]:
pk

[5, 60, 40, 20, 0]

In [36]:
pk.sort()

In [37]:
pk

[0, 5, 20, 40, 60]

In [38]:
pk.sort(reverse=True)

In [39]:
pk

[60, 40, 20, 5, 0]

In [40]:
pk.pop()

0

In [41]:
pk

[60, 40, 20, 5]

In [43]:
pk.pop(0)

60

In [47]:
pk.index(40)

0

In [48]:
pk.insert(3)="pava"

SyntaxError: can't assign to function call (<ipython-input-48-1fc3d84b304b>, line 1)

In [50]:
pk={1:"pavan"}

In [54]:
pk.setdefault(1,"pavan" )

'pavan'

In [55]:
[k]

[None]

In [56]:
pk

{1: 'pavan'}

In [58]:
pk.pop(1)

'pavan'

In [59]:
pk

{}

In [60]:
pk={1:'p',2:"k"}

In [61]:
pk.popitem()

(1, 'p')

In [62]:
pk

{2: 'k'}

In [63]:
pk={1:'p',2:"k",3:"km"}

In [64]:
pk.popitem()

(1, 'p')

In [65]:
pk

{2: 'k', 3: 'km'}

In [66]:
pk.popitem(2)

TypeError: popitem() takes no arguments (1 given)

In [69]:
l=[10,20,40]
[i*i  for i in l ]

[100, 400, 1600]

In [71]:
l=[40,35,60]
[i  for i in l if i%2==0]

[40, 60]

In [72]:
ld=lambda x: x*x 
print ld(5)

25

In [79]:
b=map(lambda x:x*x,l)

In [80]:
b

[1600, 1225, 3600]

In [81]:
filter(lambda x:x%2==0,l)

[40, 60]

In [82]:
import re
res="pavan"
result=re.match("p",res)

In [84]:
print result.group()

p

In [85]:
import re
res="pavan"
result=re.match("a",res)

In [87]:
print result

None

In [88]:
import re
res="pavan"
result=re.findall("a",res)

In [89]:
print result

['a', 'a']

In [97]:
import re
res="pavan"
result=re.search("n",res)

In [99]:
print result.group()

n

In [96]:
res.split()

['pavan']

In [113]:
import re 
  
def isValid(s): 
      
    # 1) Begins with 0 or 91 
    # 2) Then contains 7 or 8 or 9. 
    # 3) Then contains 9 digits 
    Pattern = re.compile("[0-9]{9}") 
    return Pattern.match(s) 
  
# Driver Code 
s = "6603115578"
if (isValid(s)):  
    print ("Valid Number")      
else : 
    print ("Invalid Number")

Valid Number

In [119]:
import re  
  
# Example string  
s = 'Hello from shubhamg199630@gmail.com to priya@yahoo.com about the meeting @2PM'
s1="pavan.ka"
  
# \S matches any non-whitespace character 
# @ for as in the Email 
# + for Repeats a character one or more times 
lst = re.findall('\S+@\S+', s1)     
  
# Printing of List 
print(lst)

[]

In [125]:
s="pavan.kalevaru@gmail.com"
if re.match([a-z][0-9]@gmail.com,s):
    print "valid"

SyntaxError: invalid syntax (<ipython-input-125-7b3e0c89dc0b>, line 2)

In [4]:
l=[15,10,12,8,11,5]
#l.sort()
print l

[15, 10, 12, 8, 11, 5]

In [5]:
l

[15, 10, 12, 8, 11, 5]

In [17]:
# with out sort functon
a=len(l)
print a
b=a-1
print b
for j in range(0,b):
    for i in range(0,b):
        if l[i]>l[i+1]:
             l[i],l[i+1]=  l[i+1], l[i]
print l

6
5
[15, 12, 11, 10, 8, 5]

In [14]:
n=10
for i in range(n):
    print i

0
1
2
3
4
5
6
7
8
9