In [7]:

#-5 to 256 id is same to assign deiffrent varilbe but same number
a=256
b=256
print id(a)
print id(b)
print a==b
print a!=b
print a is b

42367456
42367456
True
False
True

In [8]:
a=1000
b=1000
print id(a)
print id(b)
print a==b
print a!=b
print a is b

75179424
75178872
True
False
False

In [6]:
a=10
b=a
print id(a)
print id(b)
print a==b
print a!=b
print a is b

42361408
42361408
True
False
True

In [9]:
a=10
b=10
print id(a)
print id(b)
print a==b
print a!=b
print a is b

42361408
42361408
True
False
True

In [4]:
#memory organations
a=1000
b=2000
c=a
d=1000
print a
print b
print c
print d

1000
2000
1000
1000

In [3]:
print id(a)
print id(c)
print id(b)
print id(d)

86754504
86754504
86754624
86754744

In [5]:
a=8000
print a

8000

In [7]:
print id(a)
print id(c)
print a,c

86754600
86755032
8000 1000

In [9]:
#mutable :object can be modify #list
#immutable:object con not be modify # tuple,string
l=[0,2,4]
s="pavan"
t=(10,20)
print len(l)
print len(t)

3
2

In [11]:
l[0]=10
print # mutable

[10, 2, 4]

In [12]:
s[0]="5"# immutable

TypeError: 'str' object does not support item assignment

In [13]:
a=10
b=20
if a>b:
    print "hello"
else:
    print "good bye"
print "hii pavan"

good bye
hii pavan

In [15]:
print "wellcome to atm\n\t1.blanceenqury\n\t2.withdrawal\n\t3.deposit"
flag=raw_input("select one option:")
if flag=="1":
    print "your balacnce is 5000"
elif flag=="2":
    print "withdra ammount is 3000"
elif flag=="3":
    print "defzdxgfcg 500"
else:
    print "Have only three floors!!. Select 1 or 2 or 3"
print "tq"

wellcome to atm
	1.blanceenqury
	2.withdrawal
	3.deposit
select one option:3
defzdxgfcg 500
tq

In [21]:
a=0
while a<5:
    print a
    a=a+1

0
1
2
3
4

In [23]:
p="python pogramnin language"
for i in p:
    print i

p
y
t
h
o
n

p
o
g
r
a
m
n
i
n

l
a
n
g
u
a
g
e

In [24]:
#break of once excute the break statement come out from the loop and excute the onther print satement
count=0
while count<=5:
    if count==4:
        print "pavan"
    else:
        print count
    count =count+1
print "hi pavan"

0
1
2
3
pavan
5
hi pavan

In [25]:
count=0
while count<=5:
    if count==4:
        #print "pavan"
        break;
    else:
        print count
    count =count+1
print "hi pavan"

0
1
2
3
hi pavan

In [30]:
a="pavankalevaru"
for i in a:
    if i=='k':
        continue
    else:
        print i

p
a
v
a
n
a
l
e
v
a
r
u

In [31]:
#strings functions
s="python pogram"
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#'capitalize','center','print ','decode''encode','endswith','expandtabs', 'find', 'format','index', 'isalnum', 
#'isalpha','isdigit','islower','isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'partition',
# 'replace', 'rfind','rindex', 'rjust', 'rpartition','rsplit', 'rstrip','split', 'splitlines','startswith','strip',
# 'swapcase', 'title', 'translate','upper','zfill']

In [7]:
s="pavankalyan"
print s.capitalize()# to convert first char lower to uppaser case

Pavankalyan

In [11]:
print len(s)
s1= s.center(50,"$")
print s1

11
$$$$$$$$$$$$$$$$$$$pavankalyan$$$$$$$$$$$$$$$$$$$$

In [17]:
print s.count('a')# to find the count of charcter repeted
print s.endswith('n')
print s.endswith('k')
print s.startswith('p')

4
True
False
True

In [23]:
print s.find('p')# if  return the index 
print s.find('m')##not there in character retun -1
print s.index('p')
print s.index('m')#ValueError

0
-1
0

ValueError: substring not found

In [28]:
#'isalpha','isdigit','islower','isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'partition',
# 'replace', 'rfind','rindex', 'rjust', 'rpartition','rsplit', 'rstrip','split', 'splitlines','startswith','strip',
# 'swapcase', 'title', 'translate','upper','zfill']

# a="pavan"
# if a.isalpha():
#     print "hello"
a="pavan240"
if a.isalpha():
    print "hello"
else:
    print "only alphabits allowed not allowed digts and spacllsybols "

only alphabits allowed not allowed digts and spacllsybols

In [30]:
a="1223"
if a.isdigit():
    print "only allwed isdigit"

only allwed isdigit

In [36]:
#','islower','isspace', 'istitle', 'isupper', '', '', 'lower', '', '',
# 'swapcase', 'title', '','upper','']
a="pavan"
print a.upper()
print a.islower()
b="PAVAB"
print b.isupper()
print b.lower()
c="ABCabc"
print c.swapcase()

PAVAN
True
True
pavab
abcABC

In [38]:
#title, is title
a="pavan kalyan"# each word first char lower convert upper
print a.title()
print a.istitle()

Pavan Kalyan
False

In [6]:
##'','','','isspace', '', '', 'join', 'ljust', '', 'lstrip', 'partition',
# 'replace', 'rfind','rindex', 'rjust', 'rpartition','rsplit', 'rstrip','split', 'splitlines','','strip',
# '', '', 'translate','','zfill']
a="pavan kalevaru"
print a.isspace()

False

In [4]:
s="python program"
print s.isspace()

False

In [7]:
s=" A"
print s.isspace()

False

In [8]:
s="  Pavan"
print s.istitle()

True

In [9]:
#join: to convert list to string
l=["pavan","pavan1","pavan4"]
print type(l)
s=";".join(l)
print s
print type(s)

<type 'list'>
pavan;pavan1;pavan4
<type 'str'>

In [10]:
l=["pavan","pavan1","pavan4"]
print type(l)
s="".join(l)
print s
print type(s)

<type 'list'>
pavanpavan1pavan4
<type 'str'>

In [11]:
l=["pavan","pavan1","pavan4"]
print type(l)
s="*".join(l)
print s
print type(s)

<type 'list'>
pavan*pavan1*pavan4
<type 'str'>

In [12]:
l=["pavan","pavan1","pavan4",1,2,]
print type(l)
s=";".join(l)
print s
print type(s)

<type 'list'>

TypeError: sequence item 3: expected string, int found

In [13]:
l=[1,2,3]
print type(l)
s=";".join(l)
print s
print type(s)

<type 'list'>

TypeError: sequence item 0: expected string, int found

In [14]:
##'','','','', '', '', '', 'ljust', '', '', 'partition',
# '', 'rfind','rindex', 'rjust', 'rpartition','rsplit', 'rstrip','split', 'splitlines','','',
# '', '', 'translate','','zfill']
#replace:
a="pavankalyan"
print a.replace("kalyan","i")

pavani

In [15]:
#strip#,rstrip,lrstrip remove starting ending  symbols
a=" pavan kalevaru  "
print a.strip()

pavan kalevaru

In [17]:
a="#s% pavan #s kalevaru  #s"
print a.strip("#s%")

 pavan #s kalevaru

In [19]:
a="pavan kalevaru"
print a.split(" ")

['pavan', 'kalevaru']
['pavan kalevaru']

In [25]:
b="pavan,kalevaru is ab god ,boy"
print b.split(",")
print b.rsplit(",",2)

['pavan', 'kalevaru is ab god ', 'boy']
['pavan', 'kalevaru is ab god ', 'boy']

s="name1;name2;name3,name4;name5"
print s.split(";")
print s.partition(";")