In [ ]:
# string,list,dictonary,set,tuples====data structure

#mutable :once created object can be modified # like,LIST,DICTONARY,SET
#imutable:once created object can not  be modified  #STRING,TUPLES

#data structure == mutable,imutable
#

In [ ]:
#list used to store various types of data
#append,#count,extend,index,insert,pop,remove,reverse,sor
# tuples

In [ ]:
#dictonary
#The pair i.e., key and value is known as item. The key passed in the item must be unique.


#print d[1] # get the data
#print d.get(1)
#d.setdefault(3,"kalyan")
# d.update({5:"khm"})
#print d.has_key(1)
#keys=["name1","name3"]
#d={}
#print d.fromkeys(keys,"pavan")
#print d
##items,#iteritems,viewitems

In [ ]:
## input 
## raw_input

In [ ]:
#set.add(5)#set.remove(1)
# set1={1,2}
# set2={2,4}
# set1|set2# union remove dublicate elemenet
#intersection
#set1&set2# pbrint dublicaate element
#print set1-set2
#print set2-set1
#set1={1,2**}-set2={2**,4}
# set1 remaing value
#set2
#set1.update([6])

In [2]:
# list
# we can stored the group datatype that is called list
l=[]
print type(l)

<type 'list'>

In [13]:
l=[10,"pavan",10.0]

In [5]:
print l

[10, 'pavan', 10.0]

In [6]:
# operation
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
#append,#count,extend,index,insert,pop,remove,reverse,sor
l=[10,20,30,40]
l.append(100) # this funtioon help the add the end of list

In [17]:
l

[10, 20, 30, 40, 100]

In [18]:
l.append("pavan")

In [10]:
l

[10, 20, 30, 40, 10, 'pavan']

In [11]:
l.extend("vasavi") #this funtioon help the add the end of list for each char
l

[10, 20, 30, 40, 10, 'pavan', 'v', 'a', 's', 'a', 'v', 'i']

In [19]:
l.extend(200)
# extend support only sequence
# string
#list
# tupels
# extend unsupport int

TypeError: 'int' object is not iterable

In [20]:
l.extend([50,20,80])
l

[10, 20, 30, 40, 100, 'pavan', 50, 20, 80]

In [21]:
l.index(10)

0

In [22]:
l.index('pavan')

5

In [23]:
len(l)

9

In [25]:
l[8]="vasavi"

In [26]:
l

[10, 20, 30, 40, 100, 'pavan', 50, 20, 'vasavi']

In [27]:
l[0]="msd"

In [28]:
l

['msd', 20, 30, 40, 100, 'pavan', 50, 20, 'vasavi']

In [32]:
s="pavan"
s.replace('p','a')

'aavan'

In [30]:
s[0]="a"

TypeError: 'str' object does not support item assignment

In [33]:
l

['msd', 20, 30, 40, 100, 'pavan', 50, 20, 'vasavi']

In [34]:
l.pop()# delete the elment in list bydefualt last

'vasavi'

In [35]:
l

['msd', 20, 30, 40, 100, 'pavan', 50, 20]

In [37]:
l.pop(0)# o is index

'msd'

In [38]:
l

[20, 30, 40, 100, 'pavan', 50, 20]

In [39]:
l=['a','t','f','x','b']
# abftx
l.sort()

In [40]:
l

['a', 'b', 'f', 't', 'x']

In [47]:
l=['a','t','f','x','b',50,60,80]# ascil
l.sort()

In [48]:
l

[50, 60, 80, 'a', 'b', 'f', 't', 'x']

In [44]:
print ord('a')

97

In [52]:
l=[10,20,30,40,70,60]

l[0]

10

In [54]:
l[3:]

[40, 70, 60]

In [55]:
l[-1]

60

In [56]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
l.reverse()

In [59]:
l

[60, 70, 40, 30, 20, 10]

In [60]:
#max,min,avg,sum
l=[10,20,30]
max(l)

30

In [61]:
min(l)

10

In [63]:
#+,*
l=[10,20]
l1=[30,40]
l2=l+l1

In [64]:
l2

[10, 20, 30, 40]

In [65]:
l*2

[10, 20, 10, 20]

In [66]:
l*3

[10, 20, 10, 20, 10, 20]

In [68]:
l=[10,2]
print type(l)
l1=40
print type(l1)

l2=l1+l
#TypeError: unsupported operand type(s) for +: 'int' and 'list'

<type 'list'>
<type 'int'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [72]:
# we can stored the defrent data type
pavan=()
a=[]
s=""
print type(pavan)
print type(a)
print type(s)

<type 'tuple'>
<type 'list'>
<type 'str'>

In [73]:
t=(10,20,"pavan")

In [74]:
t

(10, 20, 'pavan')

In [75]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [76]:
t=(10,20,30)
t[0]="pavan"#

TypeError: 'tuple' object does not support item assignment

In [77]:
l=[10,20,30]
l[0]="pavan"
l

['pavan', 20, 30]

In [78]:
l=(10,20,30)

In [79]:
print type(l)
# l,t s work based on index

<type 'tuple'>

In [80]:
#dictonary
# we can stroe the key and vales pair
# {}
s={}
print type(s)

<type 'dict'>

In [81]:
d={446:"pavan",458:"vasavi"}
print d

{458: 'vasavi', 446: 'pavan'}

In [82]:
d[0]

KeyError: 0

In [83]:
l=[10,20,30]
d={446:"pavan",458:"vasavi"}
d[446]

'pavan'

In [84]:
d[458]# key. 
#vasavi

'vasavi'

In [85]:
d['vasavi']

KeyError: 'vasavi'

In [86]:
d={"pavan":446,458:"vasavi"}

In [87]:
d["pavan"]

446

In [88]:
d[458]

'vasavi'

In [89]:
d.keys()

['pavan', 458]

In [90]:
d.values()

[446, 'vasavi']

In [91]:
d["pavan"]="magic"

In [92]:
d

{458: 'vasavi', 'pavan': 'magic'}

In [93]:
d={1:"p"}
d[1]="a"
# l  keynot  change 
# only value change

In [94]:
d

{1: 'a'}

In [95]:
d={446:"pavan",458:"vasavi",446:"abc"}

In [96]:
d[446] 
# key must be single

'abc'

In [97]:
dir(d)

['__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'has_key',
 'items',
 'iteritems',
 'iterkeys',
 'itervalues',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values',
 'viewitems',
 'viewkeys',
 'viewvalues']

In [ ]:
# how to create dicow
# how to get the element in dict
# how to update d.update({})
# how to copy data1=data.copy()  

# how to find length
# how to cler
#'clear','copy','fromkeys','get', 'has_key', 'items','iteritems''iterkeys''itervalues' 'keys''pop' 'popitem''setdefault'
#'update' 'values' 'viewitems''viewkeys' 'viewvalues'

#set:
#input from user

In [1]:
d={}
print type(d)

<type 'dict'>

In [2]:
# store the key ,values pair
d={"id":446,"name":"pavan","sal":200000}
print d

{'sal': 200000, 'id': 446, 'name': 'pavan'}

In [3]:
dir(d)

['__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'has_key',
 'items',
 'iteritems',
 'iterkeys',
 'itervalues',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values',
 'viewitems',
 'viewkeys',
 'viewvalues']

In [4]:
d

{'id': 446, 'name': 'pavan', 'sal': 200000}

In [11]:
# how to get the data from dict
print d["id"]
print d["name"]
print d["sal"]
print d["role"]

446
pavan
200000

KeyError: 'role'

In [12]:
print d.get('id')
print d.get('name')
print d.get('sal')
print d.get('role')

446
pavan
200000
None

In [13]:
d['role']="en"

In [14]:
d

{'id': 446, 'name': 'pavan', 'role': 'en', 'sal': 200000}

In [15]:
d['add']="hyd"

In [16]:
d

{'add': 'hyd', 'id': 446, 'name': 'pavan', 'role': 'en', 'sal': 200000}

In [17]:
d['company']="tvsr"

In [19]:
d['b']='k'

In [20]:
d

{'add': 'hyd',
 'b': 'k',
 'company': 'tvsr',
 'id': 446,
 'name': 'pavan',
 'role': 'en',
 'sal': 200000}

In [ ]:
#'clear','copy','fromkeys','', ' 'items','iteritems''iterkeys''itervalues' '''' 'popitem''setdefault'
#'' '' 'viewitems''viewkeys' 'viewvalues'

In [24]:
print d.keys()
print d.values()

['b', 'name', 'sal', 'company', 'add', 'role', 'id']
['k', 'pavan', 200000, 'tvsr', 'hyd', 'en', 446]

In [22]:
d

{'add': 'hyd',
 'b': 'k',
 'company': 'tvsr',
 'id': 446,
 'name': 'pavan',
 'role': 'en',
 'sal': 200000}

In [25]:
print d.update({20000})

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [27]:
d.update({'sal':12000})
print d

{'b': 'k', 'name': 'pavan', 'sal': 12000, 'company': 'tvsr', 'add': 'hyd', 'role': 'en', 'id': 446}

In [28]:
d.update({'adders':"kkkcvv"})

In [30]:
print d

{'b': 'k', 'name': 'pavan', 'sal': 12000, 'company': 'tvsr', 'add': 'hyd', 'role': 'en', 'id': 446, 'adders': 'kkkcvv'}

In [33]:
d.update({'add':"kphp"})

In [34]:
print d

{'b': 'k', 'name': 'pavan', 'sal': 12000, 'company': 'tvsr', 'add': 'kphp', 'role': 'en', 'id': 446, 'adders': 'kkkcvv'}

In [35]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [36]:
d.pop('adders')

'kkkcvv'

In [37]:
d

{'add': 'kphp',
 'b': 'k',
 'company': 'tvsr',
 'id': 446,
 'name': 'pavan',
 'role': 'en',
 'sal': 12000}

In [39]:
print d
print "affter applyong pop oparation"
d.pop('company')
print d

{'b': 'k', 'name': 'pavan', 'sal': 12000, 'company': 'tvsr', 'add': 'kphp', 'role': 'en', 'id': 446}
affter applyong pop oparation
{'b': 'k', 'name': 'pavan', 'sal': 12000, 'add': 'kphp', 'role': 'en', 'id': 446}

In [40]:
d.has_key('id') # if check the key in dic 
# if key is theire retun Tru

True

In [41]:
d.has_key('company')

False

In [42]:
d.items()
# [] list
#( )tupel
[()]

[('b', 'k'),
 ('name', 'pavan'),
 ('sal', 12000),
 ('add', 'kphp'),
 ('role', 'en'),
 ('id', 446)]

In [43]:
d.iteritems()
# dict object

In [44]:
d.itervalues()

In [45]:
d

{'add': 'kphp',
 'b': 'k',
 'id': 446,
 'name': 'pavan',
 'role': 'en',
 'sal': 12000}

In [47]:
d1=d.copy()
print d1

{'add': 'kphp', 'b': 'k', 'role': 'en', 'name': 'pavan', 'sal': 12000, 'id': 446}

In [48]:
d1.clear()

In [49]:
d1

{}

In [ ]:
l=["pavan",'pavan1']
d={}
d.