In [2]:
import sqlite3

In [3]:
con=sqlite3.connect('cust.db')
cur=con.cursor()
q="create table customer(id int,name varchar(250))"
cur.execute(q)

In [4]:
q="insert into customer(id,name) values(1,'pavan') "

In [8]:
cur.execute(q)
con.close()

ProgrammingError: Cannot operate on a closed database.

In [10]:
con=sqlite3.connect('cust1.db')
cur=con.cursor()
q="create table customer1(id int,name varchar(250))"
cur.execute(q)

In [11]:
q="insert into customer1(id,name) values(1,'pavan') "

In [12]:
cur.execute(q)

In [13]:
con.commit()

In [15]:
q="select * from customer1"

In [16]:
cur.execute(q)

In [18]:
data=cur.fetchall()

In [20]:
print data

[(1, u'pavan')]

In [28]:
import random
name=["pavan1",'pavan2','pavan2']
for i in range(2,10):
    q="insert into customer1(id,name) values(%s,'%s')"%(i,random.choice(name))
    cur.execute(q)
con.commit()

In [29]:
q="select * from  customer1"
cur.execute(q)
data=cur.fetchall()

In [30]:
print data

[(1, u'pavan'), (2, u'pavan2'), (3, u'pavan2'), (4, u'pavan1'), (5, u'pavan1'), (6, u'pavan2'), (7, u'pavan2'), (8, u'pavan2'), (9, u'pavan2'), (2, u'pavan1'), (3, u'pavan1'), (4, u'pavan2'), (5, u'pavan2'), (6, u'pavan2'), (7, u'pavan2'), (8, u'pavan1'), (9, u'pavan2')]

In [35]:
cust_id=raw_input("enter id:")
q="select  *from customer1 where id=%s"%cust_id
cur.execute(q)

data=cur.fetchone()

enter id:

OperationalError: near "=": syntax error

In [37]:
cust_id=raw_input("enter id:")

q="select  *from customer1 where id=%s"%cust_id
cur.execute(q)
print cur.fetchone()

enter id:8
(8, u'pavan2')

In [40]:
cust_id=raw_input("enter id")
if cust_id:
    q="select * from customer1 where id=%s"%cust_id
    cur.execute(q)
    print cur.fetchone()
else:
    print "praper id"

enter id8
(8, u'pavan2')

In [43]:
cust_id=raw_input("enter id")
if cust_id:
    q="select * from customer1 where id=%s"%cust_id
    cur.execute(q)
    print cur.fetchone()
else:
    print "praper id"

enter id10
None

In [47]:
cust_id=raw_input("enter id")
if cust_id:
    q="select * from customer1 where id=%s"%cust_id
    cur.execute(q)
    print cur.fetchone()
    name=raw_input("enter the modefy name:")
    if name:
        q="update customer1 set name='%s' where id=%s"%(name,cust_id)

        cur.execute(q)
        con.commit()
        q="select * from customer1 where id=%s"%cust_id
        cur.execute(q)
        print cur.fetchone()

enter id8
(8, u'pavan2')
enter the modefy name:pavankall
(8, u'pavankall')