In [1]:
f=open("data.txt","w")# cretea a file

In [2]:
f.write("pavan")# data not thre in data.txt file bcz file not closed

In [3]:
f.close()# after excute this line check your fil

In [4]:
dir(f)

['__class__',
 '__delattr__',
 '__doc__',
 '__enter__',
 '__exit__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__iter__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'closed',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'mode',
 'name',
 'newlines',
 'next',
 'read',
 'readinto',
 'readline',
 'readlines',
 'seek',
 'softspace',
 'tell',
 'truncate',
 'write',
 'writelines',
 'xreadlines']

In [5]:
f=open("data.txt","r")# read the data in to file 
d=f.read()
print d

pavan

In [7]:
f=open("data1.txt","w")
f.write("wellcome pavan/n")
f.write("print")
f.write("good")
f.close()

In [8]:
f=open("data1.txt","w")
f.write("venkatapavan")#replace old data with new data
f.close()

In [1]:
f=open("data1.txt","w")

f.write("kalevaru venkatapavan")
f.flush()
f.write("pavankalevaru")
f.close()

In [14]:
f=open("data1.txt","a")
f.write("\n goob boy")
f.close()

In [15]:
f=open("data1.txt","r")
data=f.read()
print data

kalevaru venkatapavanpavankalevaru/n goob boy
 goob boy

In [16]:
import random
names=["pavan","yash","reddy"]
print random.choice(names)

yash

In [18]:
import random 
names=["pavan","yash","reddy"]
print random.choice(names)

reddy

In [19]:
import random 
names=["pavan","yash","reddy"]
sal=range(100,200,500)
print random.choice(names)
print random.choice(sal)

reddy
100

In [23]:
import random 
names=["pavan","yash","reddy"]
sal=range(100,200,500)
f=open("d.txt","w")
for i in range(10):
    row="%s,%s\n"%(random.choice(names),random.choice(sal))
    f.write(row)
f.close()

In [24]:
f=open("d.txt","r")
data=f.read()
print data

yash,100
reddy,100
reddy,100
pavan,100
yash,100
reddy,100
reddy,100
reddy,100
yash,100
yash,100

In [25]:
f=open("d.txt","r")
data=f.readlines()#print  list 
print data

['yash,100\n', 'reddy,100\n', 'reddy,100\n', 'pavan,100\n', 'yash,100\n', 'reddy,100\n', 'reddy,100\n', 'reddy,100\n', 'yash,100\n', 'yash,100\n']

In [27]:
f=open("d.txt","r")
print f.readline()# print one one index

yash,100

In [ ]:
# find no of  characters,words,lines,
# f=open("data.txt",'r')
# data=f.read()
# print len(data)
# print len(data.split())
# print len(data.splitlines())

In [28]:
f=open("d3.txt","w")
f.write("pavankalevaru")
f.close()

In [32]:
#f=open("d3.txt",'r')
f=open("d.txt","r")

data=f.read()
print data
print len(data)
print len(data.split())#words
print len(data.splitlines())#lines

yash,100
reddy,100
reddy,100
pavan,100
yash,100
reddy,100
reddy,100
reddy,100
yash,100
yash,100

96
10
10

In [39]:
#write a code to list all possible words in the file and number of time each word is repated
f=open("d.txt","r")

data=f.read()
print data 
word=data.split()
print word
for i in word:
    print i
    
    print word.count(i)

yash,100
reddy,100
reddy,100
pavan,100
yash,100
reddy,100
reddy,100
reddy,100
yash,100
yash,100

['yash,100', 'reddy,100', 'reddy,100', 'pavan,100', 'yash,100', 'reddy,100', 'reddy,100', 'reddy,100', 'yash,100', 'yash,100']
yash,100
4
reddy,100
5
reddy,100
5
pavan,100
1
yash,100
4
reddy,100
5
reddy,100
5
reddy,100
5
yash,100
4
yash,100
4

In [44]:
#write a code to list all possible words in the file and number of time each word is repated
f=open("d.txt","r")

data=f.read()
print data 
word=data.split()
#print word
for i in word:
    if word.count(i)==4:
         print i

yash,100
reddy,100
reddy,100
pavan,100
yash,100
reddy,100
reddy,100
reddy,100
yash,100
yash,100

yash,100
yash,100
yash,100
yash,100

In [ ]:
print "hell"

In [2]:
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)

print a/b

enter number:10
enter number:5
a=10,b=5

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [3]:
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)

print int(a)/int(b)

enter number:10
enter number:2
a=10,b=2
5

In [4]:
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)

print int(a)/int(b)

enter number:10/0
enter number:2
a=10/0,b=2

ValueError: invalid literal for int() with base 10: '10/0'

In [5]:
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)

print int(a)/int(b)

enter number:1
enter number:0
a=1,b=0

ZeroDivisionError: integer division or modulo by zero

In [7]:
try:
    a=raw_input("enter number:")
    b=raw_input("enter number:")
    print "a=%s,b=%s"%(a,b)

    print int(a)/int(b)
except:
    print "some thing"

enter number:1
enter number:0
a=1,b=0
some thing

In [8]:
print "startpogram"
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)
try:
    print int(a)/int(b)
except Exception as err:
    print err
print " end programs"

startpogram
enter number:1
enter number:0
a=1,b=0
integer division or modulo by zero
 end programs

In [9]:
print "startpogram"
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)
try:
    print int(a)/int(b)
except Exception as err:
    print err
finally:
    print "this is final block"
print " end programs"

startpogram
enter number:1
enter number:0
a=1,b=0
integer division or modulo by zero
this is final block
 end programs

In [10]:
print "startpogram"
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)
try:
    print int(a)/int(b)
except Exception as err:
    print err

print " end programs"

startpogram
enter number:10
enter number:2
a=10,b=2
5
 end programs

In [11]:
print "startpogram"
a=raw_input("enter number:")
b=raw_input("enter number:")
print "a=%s,b=%s"%(a,b)
try:
    print int(a)/int(b)
except Exception as err:
    print err
finally:
    print "this is final block"
print " end programs"

startpogram
enter number:20
enter number:4
a=20,b=4
5
this is final block
 end programs

In [1]:
f=open("pavan.csv",'w')
f.write("pavan kalevaru is a lover boy")
f.close()

In [3]:
f=open("pavan.csv","r")
data=f.read()
print f
print data

<open file 'pavan.csv', mode 'r' at 0x000000000409A8A0>
pavan kalevaru is a lover boy

In [6]:
f=open("pavan.csv",'w')
f.write("pavan ")

f.close()

In [7]:
f=open("pavan.csv","r")
data=f.read()
print data

pavan

In [12]:
f=open("pavan.csv",'w')
f.write("pavan ")
f.flush()
f.write('kaleavru')
f.close()

In [13]:
f=open("pavan.csv","r")
data=f.read()
print data

pavan kaleavru

In [16]:
f=open("pavan.csv",'w')
f.write('/n b.tech')
f.close()

In [17]:
f=open("pavan.csv","r")
data=f.read()
print data

/nb.tech

In [21]:
import random
i=[10,20]
print random.choice(i)

10

In [2]:
import calendar

In [3]:
print calendar.calendar(2019,12)

                                                                                                                                           2019

                                         January                                                                                         February                                                                                         March
   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday
                   1            2            3            4            5            6                                                                     1            2            3                                                                     1            2            3
      7            8            9           10           11           12           13                 4            5            6            7            8            9           10                 4            5            6            7            8            9           10
     14           15           16           17           18           19           20                11           12           13           14           15           16           17                11           12           13           14           15           16           17
     21           22           23           24           25           26           27                18           19           20           21           22           23           24                18           19           20           21           22           23           24
     28           29           30           31                                                       25           26           27           28                                                       25           26           27           28           29           30           31

                                          April                                                                                            May                                                                                             June
   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday
      1            2            3            4            5            6            7                                           1            2            3            4            5                                                                                  1            2
      8            9           10           11           12           13           14                 6            7            8            9           10           11           12                 3            4            5            6            7            8            9
     15           16           17           18           19           20           21                13           14           15           16           17           18           19                10           11           12           13           14           15           16
     22           23           24           25           26           27           28                20           21           22           23           24           25           26                17           18           19           20           21           22           23
     29           30                                                                                 27           28           29           30           31                                          24           25           26           27           28           29           30

                                           July                                                                                           August                                                                                        September
   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday
      1            2            3            4            5            6            7                                                        1            2            3            4                                                                                               1
      8            9           10           11           12           13           14                 5            6            7            8            9           10           11                 2            3            4            5            6            7            8
     15           16           17           18           19           20           21                12           13           14           15           16           17           18                 9           10           11           12           13           14           15
     22           23           24           25           26           27           28                19           20           21           22           23           24           25                16           17           18           19           20           21           22
     29           30           31                                                                    26           27           28           29           30           31                             23           24           25           26           27           28           29
                                                                                                                                                                                                     30

                                         October                                                                                         November                                                                                        December
   Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday            Monday      Tuesday     Wednesday     Thursday      Friday      Saturday      Sunday
                   1            2            3            4            5            6                                                                     1            2            3                                                                                               1
      7            8            9           10           11           12           13                 4            5            6            7            8            9           10                 2            3            4            5            6            7            8
     14           15           16           17           18           19           20                11           12           13           14           15           16           17                 9           10           11           12           13           14           15
     21           22           23           24           25           26           27                18           19           20           21           22           23           24                16           17           18           19           20           21           22
     28           29           30           31                                                       25           26           27           28           29           30                             23           24           25           26           27           28           29
                                                                                                                                                                                                     30           31

In [6]:
print calendar.isleap(2020)

True

In [11]:
import time
print time.asctime()

Fri Feb  1 22:42:34 2019

In [9]:
dir(time)

['__doc__',
 '__name__',
 '__package__',
 'accept2dyear',
 'altzone',
 'asctime',
 'clock',
 'ctime',
 'daylight',
 'gmtime',
 'localtime',
 'mktime',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'time',
 'timezone',
 'tzname']

In [1]:
import json

In [21]:
d={"name":"pavn","age":25}
data=json.dumps(d)
data
type(data)

str

In [22]:
d=open("dm.json","w")
d.write(data)
d.close()

In [28]:

# data=d.read()

In [25]:
data

'{"age": 25, "name": "pavn"}'

In [30]:
f=open("d122.txt","w")
f.write("kalevaru pavan")
f.close()

In [32]:
f=open("d122.txt","r")
data=f.read()
data

'kalevaru pavan'

In [33]:
f=open("d122.json","w")
f.write(json.dumps(data))
f.close()

In [36]:
f=open("d122.json","r")

data=json.load(f)
data

u'kalevaru pavan'