In [4]:
l=["x","y","z"]
l.insert(1,"w")
l
l[2]

'y'

In [4]:
func=lambda x:x%3==0
l=filter(func,range(10))
print l
print len(l)
print  sum(l)
print max(l)

[0, 3, 6, 9]
4
18
9

In [2]:
# even number
num=int(raw_input("entert number:in"))
if num%2==0:
    print "given number is even"
else:
    print "not even"

entert number:in11
not even

In [10]:
def something(number):
    if number==0:
        return -1
    else:
        return number*something(number-1);
print something(4)

-24

In [3]:
print 0%3

0

In [12]:
def f(r):
    j=range(r)
    e=eval("*".join([str(i+1)for i in j]))
    print  e
f(5)

120

In [5]:
def p(x,y):
    if y==0:
        
        return 1
    else:
        return x*p(x,y-1)
p(2,3)

8

In [17]:
k=range(5)
e=eval("*".join([str(i+1)for i in k]))
e

120

In [8]:
#range of even numbers
l=[]
for i in range(50):
    
    if i%2==0:
        l.append(i)
print l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [23]:
for i in range(20,1):
    print i

In [24]:
def tripler(org_func):
    def my_function(orig_val):
        return(org_func(orig_val*3))
    return my_function
@tripler
def doubler(a):
    return a*2
print doubler(5)

30

In [29]:
def funm(n):
    i=n
    if i%3==0:
        print  i*i
    i-=1
r=funm(6)

36

In [8]:
s="7"
s=s+"0"
print s
e=int(s)+3
print(float(e))

70
73.0

In [31]:
def ap(func,arg):
    return func(func(arg))
def add_10(x):
    return x-44
abs(ap(add_10,-44))

132

In [35]:
a=[(5,8,0),(2,4)]
sum=[]
for x  in a:
    print x
print sum

(5, 8, 0)
(2, 4)
[]

In [8]:
import random
names=["pavan,yash,prashanth,nani"]
data=random.choice(names)
f=open("text3.txt","w")
data1=f.write(data)
f.close()

In [1]:
f=open('p.txt','w')
f.write('pavan kalevaru')
f.close()

In [7]:
f=open('p.txt','r')
d=f.read()
print len(d)
print len(d.split())
print len(d.splitlines())

14
2
1

In [9]:
f=open("text3.txt")
data2=f.read()
print data2

pavan,yash,prashanth,nani

In [10]:
f=open("text3.txt")
numberchar=len(data2)
numberword=len(data2.split())
numberlines=len(data2.splitlines())
print numberchar
print numberword
print numberlines

25
1
1

In [3]:
chars=0
words=0
lines=0
f=open('text3.txt','r')
for i in f:
    lines=lines+1
    words=len(i.split())+words
    chars=len(i)+chars
print "Number of Lines,Words,Chars in the given file respectively are",lines,words,chars

Number of Lines,Words,Chars in the given file respectively are 1 1 25

In [12]:
#json to txt
import json
f=open("text3.txt")
data3=f.readlines()
print data2
print data3
d_son=json.dumps(data3)
d_son1=json.loads(d_son)
print d_son
print d_son1
f.close()

pavan,yash,prashanth,nani
['pavan,yash,prashanth,nani']
["pavan,yash,prashanth,nani"]
[u'pavan,yash,prashanth,nani']

In [13]:
import json
f=open("text3.txt",'r')
data1=f.readlines()
print 'data',data1
data_string = json.dumps(data1)
json_loads=json.loads(data_string)
print 'JSON:', data_string
print json_loads
f.close()

data ['pavan,yash,prashanth,nani']
JSON: ["pavan,yash,prashanth,nani"]
[u'pavan,yash,prashanth,nani']

In [2]:
#positive number sum

enter positive number:123
6

In [6]:
# rever stvring
# def fun(str):
#     rs=""
#     for i in str:
#         rs=i+rs
#     print rs
        
# str="pavan"
# fun(str)
s="pavan"
res=s[::-1]
print res

navap

In [16]:
#given number prime number or not

enter the given number is:4
not prime number

In [4]:

for n in range(0,50):
    for i in range(2,50):
        if n%1==0:
            break;
    else:
        print n

enter the given number is:5
enter the given number is:15
5
7
11
13

In [12]:
#fatoril

enter the given number is:10
1
2
5
10

In [3]:
# factor 
f=1
for i in range(1,10):
    f=f*i
    print f

1
2
6
24
120
720
5040
40320
362880

In [ ]:
l=[10,20,[40]]
l1=[]
def fun(l):
    for i in l:
        if type(l[i])==type(List):

In [19]:
#find the large number in string
a="a aa bb ccc dddd"
c= max(a.split())
print (c)

dddd

In [36]:
def my_max(lst):
    max_val = lst[0]       # initialize with the first value from the list
    for item in lst:       # loop over the items in the list
        if item > max_val: # compare current item with the maximum seen so far
            max_val = item # set new max
    return max_val 
lst=[10,80,100]# return the max
my_max(lst)

100

In [14]:
import re
string = "pavan kalevaru"
string = re.findall(r'\S+',string)
#\S+ looks for all the non-whitespace characters and puts them in a list:

print  string
#['Hello', 'I', 'like', 'cookies']
#Now you can find the length of the list element containing the longest word and then use list comprehension to retrieve the element itself:

maxlen = max(len(word) for word in string)
print  maxlen
 
[word for word in string if len(word) == maxlen]

['pavan', 'kalevaru']
8

['kalevaru']

In [25]:
import re
s="pavan is a goodboy"
s=re.findall('\S+',s)
print s
long_str=max(len(i)for i in s)
print long_str
[i for i in s if len(i)==long_str]

['pavan', 'is', 'a', 'goodboy']
7

['goodboy']

In [1]:
l=[10,20,30,[40,50,60],70,[80,90,20]]
l2=[]
def sing(l):
    for i in l:
        if type(i)==list:
            sing(i)
        else:
            l2.append(i)
    return l2
print sing(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 20]

In [26]:
#Using the Python language, have the function LetterChanges(str) take the str parameter being passed and modify 
#it using the following algorithm. 
#Replace every letter in the string with the letter following it in the alphabet 
#(ie. c becomes d, z becomes a). Then capitalize every vowel in this new string (a, e, i, o, u)
#and finally return this modified string. 



def LetterChanges(str): 
  
  # our new string with the modified characters
  newString = ""

  # begin by looping through each character in the string
  for char in str:
    
    # check if the current character is an alphabetic character
    if char.isalpha():

      # check if character is z
      if char.lower() == 'z':
        char = 'a'

      # if alphabetic character then add 1 to its ASCII value 
      # by using the built-in ord function then convert back to character
      else:
        char = chr(ord(char) + 1)

    # if new character is a vowel then capitalize it
    if char in 'aeiou':
      char = char.upper()

    # add this modified character to the new string
    newString = newString + char

  return newString
       
print LetterChanges("fun times!")

gvO Ujnft!

In [30]:
s="pavanz"
new_str=" "
for i in s:
    if i.lower()=='z':
        i='a'
    else:
        i=chr(ord(i)+1)
    if i in 'aeiou':
        i=i.upper()
    new_str=new_str+i
print new_str

 qbwbOA

In [35]:
#Using the Python language, have the function SimpleAdding(num) add up all the numbers
#from 1 to num. For example: if the input is 4 then your program should return 10 because 1 + 2 + 3 + 4 = 10.
#For the test cases, the parameter num will be any number from 1 to 1000. 
n=4
k=0
for i in range(0,n+1):
    k=k+i
    print k

0
1
3
6
10

In [5]:
s="pavan"
d={}
for i in s:
    d[i]=s.count(i)
print d

{'a': 2, 'p': 1, 'n': 1, 'v': 1}

In [38]:
s="aavan"
c=s.capitalize()
print c

Aavan

In [39]:
import math

def TimeConvert(num): 

  # to get the hours, we divide num by 60 and round it down
  # e.g. 61 / 60 = 1 hour
  # e.g. 43 / 60 = 0 hours
  hours = int(math.floor(num / 60))

  # to get the minutes, now we use the remainder that we discarded above
  # the modulo operation is represented by the % symbol
  # e.g. 61 % 60 = 1 minute
  # e.g. 43 % 60 = 43 minutes
  minutes = num % 60

  # combine the hours and minutes
  return str(hours) + ':' + str(minutes);
    
print TimeConvert(124)

2:4

In [41]:
import math
def timeconver(num):
    hour=int(math.floor(num/60))
    minutes=num%60
    return str(hour)+":"+str(minutes)
print timeconver(350)

5:50

In [44]:
s="pavan"
s1=""
for i in s:
    s1=i+s1
    
print s1

navap

In [47]:
def AlphabetSoup(str): 

  # convert the string into a list of characters
  chars = list(str)

  # sort the list in alphabetical order
  sortedChars = sorted(chars)

  # return the newly joined string
  return "".join(sortedChars)
    
print AlphabetSoup("coderbyte")

bcdeeorty

In [49]:
s="pavan"
char=list(s)
print char
sortedchar=sorted(char)
print "".join(sortedchar)

['p', 'a', 'v', 'a', 'n']
aanpv

In [17]:
# count case sentive
l=['a','b','c','A','B']
s=raw_input("enter string")
count=0
for i in l:
    if i.lower()==s.lower():
        count=count+1
if count>=1:
    print count
else:
    print "lckn"

enter stringd
lckn

In [10]:
l=[10,20,10]
l3=[]

In [11]:
for i in l:
    if i not in l3:
        l3.append(i)
print l3

[10, 20]

In [21]:
# perpect number
n=int(raw_input("number is"))
rs=0
for i in range(1,n):
    if n%i==0:
        rs=rs+i
if rs==n:
    print "number is perfect",n
else:
    print "no"

number is6
number is perfect 6

In [19]:
l=int(raw_input("lower number is"))
u=int(raw_input(" upper number is"))
for n in range(l,u+1):
    for i in range(1,n):
        if n%i==0:
            break
    else:

        print n

lower number is1
 upper number is10
1

In [35]:
a="pavan kalevar\n  is god boy"
print a

ch=0
w=0
for i in a:
    ch=ch+1
    if i==" ":
        w=w+1
print w
l=len( a.splitlines())
print l
print ch

pavan kalevar
  is god boy
5
2
26

In [29]:
marks = [("mohan", 80), ("satish", 90), ("purnesh", 40), ("venkat", 30)]
d=dict(marks)

In [30]:
d.values()

[80, 90, 40, 30]

In [31]:
d.keys()

['mohan', 'satish', 'purnesh', 'venkat']

In [32]:
# #vowel
str="pavan"
v=0
for i in str:
    if i in "AEIOUaeiou":
        v=v+1
print v

2

In [35]:
str="pavan"
v=0
for i in str:
    if i in "AEIOUaeiou":
      print i

IndentationError: expected an indented block (<ipython-input-35-364406835608>, line 5)

In [28]:
# paldram or not
n=141
s=0
while n!=0:
    rem=n%10
    s=s*10+rem
    n=n/10
if s==n:
    print "palidram

pp

In [25]:
n=raw_input("enter string")
re=n[::-1]
print re
if re==n:
    print "palidram"
else:
    print "no"

enter string141
141
palidram

In [21]:

#amgstrog
def fun(str1,str2):
    list1=list(str1)
    list2=list(str2)
    list2.sort()
    list1.sort()
    return (list1==list2)
print fun("pavan","navap")

True

In [13]:
s="abcba"
s=s.lower()
rs=reversed(s)
print rs
if list(s)==list(rs):
    print "yse"

<reversed object at 0x0000000006F40400>
yse

In [63]:
s="pavan kalevaru"
s2=' '.join(word[::-1] for word in s.split(" "))
print s2

navap uravelak

In [57]:
print ' '.join()

p a v a n   k a l e v a r u

In [30]:
s="pavan"# repated char
dict={}
for i in s:
    dict[i]=0
    print dict
for i in s:
    dict[i]+=1
for i ,count in dict.items():
       if count > 1 and i!= ' ':
            print i,count

{'p': 0}
{'a': 0, 'p': 0}
{'a': 0, 'p': 0, 'v': 0}
{'a': 0, 'p': 0, 'v': 0}
{'a': 0, 'p': 0, 'n': 0, 'v': 0}
a 2

In [69]:
#non repated 
s="pavan"
dublicate=[]
fist_time=[]
unique=[]
for i in s:
    for i not  in  fist_time:
        first_time.append(i)
    else:
        dublicate.append(i)
for p in s:
    if p in first_time and p not in dublicate:
        unique.append(i)
print unique

SyntaxError: invalid syntax (<ipython-input-69-9e43992386fe>, line 7)

In [ ]:
duplicate = []
first_time = []
unique = []

a= input("pavan")

for i in a:

    if i not in first_time:

        first_time.append(i)

    else:
        duplicate.append(i)

for p in a:
    if p in first_time and p not in duplicate:

        unique.append(p)
print(unique[0])

In [ ]:
import time
time.asctime()

In [ ]:
import calendar
print calendar.month(2000,4)

In [ ]:
import calendar
print calendar.month(2000,4)

In [ ]:
import time
time.time

In [8]:
s="pavan"
s.capitalize()

'Pavan'

In [9]:
print s.count('a')

2

In [10]:
print s.endswith("an")

True

In [11]:
import time 
time.asctime()

'Tue Jun 19 23:21:53 2018'

In [12]:
import calendar

In [14]:
calendar.calendar(2019,4)

'                                                       2019\n\n             January                                 February                                 March\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n       1    2    3    4    5    6                             1    2    3                             1    2    3\n  7    8    9   10   11   12   13         4    5    6    7    8    9   10         4    5    6    7    8    9   10\n 14   15   16   17   18   19   20        11   12   13   14   15   16   17        11   12   13   14   15   16   17\n 21   22   23   24   25   26   27        18   19   20   21   22   23   24        18   19   20   21   22   23   24\n 28   29   30   31                       25   26   27   28                       25   26   27   28   29   30   31\n\n              April                                    May                                     June\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n  1    2    3    4    5    6    7                   1    2    3    4    5                                  1    2\n  8    9   10   11   12   13   14         6    7    8    9   10   11   12         3    4    5    6    7    8    9\n 15   16   17   18   19   20   21        13   14   15   16   17   18   19        10   11   12   13   14   15   16\n 22   23   24   25   26   27   28        20   21   22   23   24   25   26        17   18   19   20   21   22   23\n 29   30                                 27   28   29   30   31                  24   25   26   27   28   29   30\n\n               July                                   August                                September\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n  1    2    3    4    5    6    7                        1    2    3    4                                       1\n  8    9   10   11   12   13   14         5    6    7    8    9   10   11         2    3    4    5    6    7    8\n 15   16   17   18   19   20   21        12   13   14   15   16   17   18         9   10   11   12   13   14   15\n 22   23   24   25   26   27   28        19   20   21   22   23   24   25        16   17   18   19   20   21   22\n 29   30   31                            26   27   28   29   30   31             23   24   25   26   27   28   29\n                                                                                 30\n\n             October                                 November                                December\nMon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun\n       1    2    3    4    5    6                             1    2    3                                       1\n  7    8    9   10   11   12   13         4    5    6    7    8    9   10         2    3    4    5    6    7    8\n 14   15   16   17   18   19   20        11   12   13   14   15   16   17         9   10   11   12   13   14   15\n 21   22   23   24   25   26   27        18   19   20   21   22   23   24        16   17   18   19   20   21   22\n 28   29   30   31                       25   26   27   28   29   30             23   24   25   26   27   28   29\n                                                                                 30   31\n'

In [17]:
calendar.isleap(2108)

True

In [18]:
d={"pavan":1,"yash":2}

In [19]:
print d

{'pavan': 1, 'yash': 2}

In [20]:
print d.keys()

['pavan', 'yash']

In [21]:
print d.values()

[1, 2]

In [24]:
print d[pavan]

NameError: name 'pavan' is not defined

In [25]:
d['pavan']

1

In [27]:
d.setdefault("pavank",10)

10

In [28]:
print d

{'pavan': 1, 'yash': 2, 'pavank': 10}

In [29]:
d.update({"pavank":10})

In [30]:
d

{'pavan': 1, 'pavank': 10, 'yash': 2}

In [1]:
# find no of  characters,words,lines,
# f=open("data.txt",'r')
# data=f.read()
# print len(data)
# print len(data.split())
# print len(data.splitlines())

In [8]:
a=int(raw_input("enter your age:"))
print type(a)
if 18<=a:
    print "vote"
else:
    print "not vote"

enter your age:10
<type 'int'>
not vote

In [ ]:
print "1:go to 1st floar \n2:go to 2nd\n3:3rd"
a=int(raw_input("enter number"))
if a==1:
    print "go to 1st"
elif a==2:
    print "2nd"
elif a==3:
    print "3dr"
else:
    print "select only 3 number"

1:go to 1st floar
2:go to 2nd
3:3rd

In [4]:
# remove dublicate number in list
l=[10,10,4,5]
l1=[]
for i in l:
    if  i not in l1:
        l1.append(i)
print l1

[10, 4, 5]

In [1]:
class Abc:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def result(self):
        return self.name,self.age
a=Abc("pk",24)
print a.result()

('pk', 24)

In [5]:
class Animal:   
    def eat(self):  
        print 'Eating...'  
class Dog(Animal):     
    def bark(self):  
          print 'Barking...'  
d=Dog()  
d.eat()  
d.bark()

Eating...
Barking...

In [5]:
# ve or -ve

In [8]:
l=-1
if l>0:
    print "p"
else:
    print "n"

n

In [11]:
f=1
for i in range(10):
    f= f*i
print f

0